In [1]:
import tensorflow as tf

In [2]:
tf.enable_eager_execution()

In [36]:
model_path = '/home/gezi/new/temp/feed/rank/online/2019083003_23/model.v0/v8/dense/model.ckpt-2.00-116942'

In [41]:
model_path2 = '/home/gezi/new/temp/feed/rank/online/2019090100_23//model.v0/v8/dense/model.ckpt-2.00-116116'

In [42]:
reader = tf.train.NewCheckpointReader(model_path)

In [43]:
reader2 = tf.train.NewCheckpointReader(model_path2)

In [44]:
deep_emb = reader.get_tensor('wide_deep/deep/emb/embeddings')

In [45]:
deep_emb

array([[-0.00893738, -0.02373599, -0.0128132 , ..., -0.03363468,
        -0.02756391,  0.04094943],
       [-0.16363354,  0.08918183, -0.11769531, ...,  0.09117372,
         0.05352593,  0.11175921],
       [ 0.04313851, -0.11001794, -0.0879963 , ..., -0.07622865,
        -0.06597317,  0.00981503],
       ...,
       [-0.06873453, -0.02393466, -0.03420233, ...,  0.0083272 ,
        -0.04898661, -0.00605132],
       [-0.01648774, -0.01352275,  0.00113533, ..., -0.00771625,
        -0.04545455, -0.0106171 ],
       [-0.01583354,  0.00285606, -0.00729624, ...,  0.001899  ,
        -0.08048271, -0.0031899 ]], dtype=float32)

In [46]:
deep_emb2 = reader2.get_tensor('wide_deep/deep/emb/embeddings')

In [47]:
deep_emb2

array([[-0.04958532,  0.0195765 ,  0.01982954, ..., -0.00829188,
         0.01189622,  0.00813508],
       [-0.06515305, -0.13529614,  0.02952821, ...,  0.03426773,
        -0.01501425,  0.14961764],
       [ 0.09066864, -0.08750236, -0.00200495, ..., -0.24652444,
        -0.11246425,  0.20870413],
       ...,
       [-0.04261259,  0.01397788, -0.03169682, ...,  0.03543609,
         0.03640362,  0.010008  ],
       [ 0.05950586, -0.05402226,  0.10512507, ..., -0.01917496,
        -0.09152455,  0.12750366],
       [ 0.10172438, -0.07730626,  0.08365542, ...,  0.03040497,
        -0.02427712,  0.0585703 ]], dtype=float32)

In [48]:
len(deep_emb)

2906792

In [49]:
len(deep_emb2)

2917920

In [50]:
import numpy as np

In [51]:
np.mean(deep_emb)

-0.0012853629

In [52]:
np.mean(deep_emb2)

-2.761048e-05

In [53]:
np.mean(pow(deep_emb, 2))

0.0013235146

In [54]:
np.mean(pow(deep_emb2, 2))

0.0012842955

In [55]:
femb = reader.get_tensor('wide_deep/deep/field_emb/embeddings')

In [56]:
femb2 = reader2.get_tensor('wide_deep/deep/field_emb/embeddings')

In [57]:
femb

array([[-0.03458231, -0.01025536, -0.03075328, ..., -0.0329504 ,
         0.01488446,  0.04616782],
       [-0.05885208, -0.00576724, -0.01164985, ..., -0.00187898,
         0.03680303, -0.07762071],
       [-0.06767381, -0.01648147, -0.08664385, ..., -0.00341223,
         0.05754199, -0.14594306],
       ...,
       [-0.01958422, -0.03796789, -0.0998691 , ...,  0.02652049,
        -0.01479264, -0.1170466 ],
       [-0.03964078, -0.01325496, -0.04118003, ..., -0.04052602,
         0.01121036, -0.10745233],
       [-0.03771373, -0.06731449, -0.09760114, ..., -0.01386493,
         0.05776796, -0.13271777]], dtype=float32)

In [58]:
femb2

array([[-0.01495782,  0.01920393, -0.02402559, ...,  0.03400947,
         0.02301793, -0.04804211],
       [-0.05593001,  0.0387314 , -0.06567759, ..., -0.01291933,
         0.05283777,  0.0301952 ],
       [-0.01541282, -0.00676403,  0.02371783, ..., -0.051891  ,
        -0.02122667,  0.0266782 ],
       ...,
       [ 0.01237481, -0.09629238,  0.09122197, ..., -0.1622009 ,
         0.02173924, -0.05089279],
       [-0.03068354, -0.0473668 ,  0.06287747, ..., -0.13694404,
        -0.03226571, -0.10088482],
       [ 0.00554773, -0.07127613,  0.06776252, ..., -0.13260853,
        -0.0206074 , -0.10763737]], dtype=float32)

In [59]:
len(femb)

73

In [60]:
len(femb2)

73

In [61]:
fnames = [x.rstrip() for x in open('/home/gezi/new/temp/feed/rank/online/2019083003_23/feat_fields.txt').readlines()]

In [62]:
fnames = ['IGNORE'] + fnames

In [63]:
import pandas as pd

In [64]:
data = np.asarray([(i, np.mean(femb[i]), np.mean(femb2[i]), np.mean(pow(femb[i], 2)), np.mean(pow(femb2[i], 2))) for i in range(len(femb))])

In [65]:
df = pd.DataFrame(data, columns=['id', 'mean1', 'mean2', 'pow1', 'pow2'])

In [66]:
df.head()

    id     mean1     mean2      pow1      pow2
0  0.0  0.000270 -0.001327  0.000819  0.000817
1  1.0  0.000093 -0.004527  0.001660  0.001888
2  2.0  0.005179  0.009167  0.002719  0.002328
3  3.0  0.006227 -0.022825  0.527929  0.750613
4  4.0  0.000819 -0.097493  0.145619  0.181064

In [67]:
df['fname'] = fnames

In [68]:
df['x'] = abs(df['pow2'] - df['pow1'])

In [69]:
df.sort_values('x', ascending=False).head()

      id     mean1     mean2      pow1      pow2             fname         x
3    3.0  0.006227 -0.022825  0.527929  0.750613      CITATCOTP\t3  0.222684
65  65.0 -0.010268 -0.021870  0.046286  0.099137    MSUBITATKW\t65  0.052851
4    4.0  0.000819 -0.097493  0.145619  0.181064     CRWATIDDUR\t4  0.035445
51  51.0  0.003393 -0.004125  0.019607  0.054468  MITATPORNSTG\t51  0.034860
50  50.0  0.050682  0.021208  0.122586  0.155113  MITATPORNSKW\t50  0.032527

In [71]:
df.sort_values('x', ascending=False).head(20)

      id     mean1     mean2      pow1      pow2             fname         x
3    3.0  0.006227 -0.022825  0.527929  0.750613      CITATCOTP\t3  0.222684
65  65.0 -0.010268 -0.021870  0.046286  0.099137    MSUBITATKW\t65  0.052851
4    4.0  0.000819 -0.097493  0.145619  0.181064     CRWATIDDUR\t4  0.035445
51  51.0  0.003393 -0.004125  0.019607  0.054468  MITATPORNSTG\t51  0.034860
50  50.0  0.050682  0.021208  0.122586  0.155113  MITATPORNSKW\t50  0.032527
61  61.0 -0.011647 -0.007340  0.072721  0.099166   MSRCHITATKW\t61  0.026445
64  64.0 -0.069275 -0.027521  0.079958  0.057514    MSUBITATAC\t64  0.022444
41  41.0 -0.005219 -0.021874  0.049086  0.061323    MITATDURAC\t41  0.012236
31  31.0  0.020550 -0.044132  0.035566  0.026360      ICFRWDUR\t31  0.009206
45  45.0 -0.009579  0.001976  0.038584  0.047325   MITATPCNTAC\t45  0.008741
35  35.0 -0.015642 -0.016849  0.023075  0.014665     ICFRWWCNT\t35  0.008410
66  66.0 -0.008389 -0.000985  0.002169  0.009993    MSUBITATTG\t66  0.007825
57  57.0 -0.013127 -0.000048  0.028380  0.035615   MITATWCNTAC\t57  0.007235
17  17.0 -0.000821 -0.000020  0.011994  0.019120         IACID\t17  0.007126
53  53.0 -0.020099 -0.004874  0.039014  0.045519  MITATQUALSAC\t53  0.006506
19  19.0  0.039140  0.011647  0.105603  0.111943         IATKW\t19  0.006339
26  26.0  0.004385 -0.025852  0.027279  0.021083      ICBRWDUR\t26  0.006196
67  67.0 -0.002312 -0.007140  0.015670  0.021611    MSUBITATTP\t67  0.005941
36  36.0 -0.000110  0.005302  0.005223  0.010396          ILOC\t36  0.005173
42  42.0 -0.020984 -0.050401  0.039729  0.044759    MITATDURKW\t42  0.005029

In [33]:
df['x'] = abs(df['mean1'] - df['mean2'])
df.sort_values('x', ascending=False).head()

      id     mean1     mean2      pow1      pow2             fname         x
4    4.0  0.023993 -0.113390  0.148170  0.159911     CRWATIDDUR\t4  0.137382
41  41.0  0.045922 -0.083603  0.049932  0.060624    MITATDURAC\t41  0.129525
42  42.0  0.028600 -0.082344  0.036090  0.041229    MITATDURKW\t42  0.110944
19  19.0 -0.090479  0.012658  0.094861  0.111783         IATKW\t19  0.103137
53  53.0  0.051510 -0.031172  0.046592  0.045411  MITATQUALSAC\t53  0.082683