In [1]:
import os
import pandas as pd

In [2]:
root='/home/gezi/data/show_click/20191114/video'
# root='/home/gezi/data/show_click/20191114/tuwen'
# root='/home/gezi/data/show_click/20191114/both'
# root='/home/gezi/data/show_click/20191114/all'
# root='/home/gezi/data/show_click/20191114/video.all'
# root='/home/gezi/data/show_click/20191114/tuwen.all'

In [3]:
base = root + '/16.txt'
exp = root + '/456.txt'
li_base = [line.strip().split() for line in open(base)]
li_exp = [line.strip().split() for line in open(exp)]

In [4]:
len(li_base)

2854886

In [14]:
base = {}
exp = {}

def calc(li, m):
  for l in li:
    pos = int(l[0])
    dur = int(l[1])
    if dur > 12 * 60 * 60:
      dur = 60
    click = int(dur > 0) 
    if pos not in m:
      m[pos] = [0, 0, 0]
    m[pos][click] += 1
    if click:
      m[pos][2] += dur

In [15]:
calc(li_base, base)
calc(li_exp, exp)

In [16]:
exp

{11: [731737, 11337, 1329105],
 13: [704635, 7437, 870199],
 16: [380682, 6547, 672392],
 8: [742264, 13100, 1636816],
 6: [505208, 7799, 811843],
 4: [496655, 14817, 1052120],
 5: [240169, 20982, 3246471],
 7: [385354, 23660, 3154857],
 10: [985447, 36271, 5672824],
 17: [872444, 17918, 2221331],
 14: [904753, 23373, 3119912],
 12: [941141, 27823, 3865980],
 0: [206869, 51374, 8340893],
 2: [187789, 25301, 4082581],
 9: [20258, 901, 33719],
 15: [34982, 850, 45237],
 1: [23094, 4304, 786908],
 3: [20803, 3181, 105387]}

In [19]:
l = []
total_show_base = 0
total_show_exp = 0
total_click_base = 0
total_click_exp = 0
total_dur_base = 0
total_dur_exp = 0
for i in range(18):
  show_base = base[i][0] 
  show_base /= 3
  click_base = base[i][1] / 3 / show_base 
  show_exp = exp[i][0] 
  click_exp = exp[i][1] / show_exp
  total_show_base += show_base
  total_click_base += base[i][1] / 3
  total_show_exp += show_exp
  total_click_exp += exp[i][1]
  dur_base = base[i][2] / 3 / show_base
  dur_exp = exp[i][2] / show_exp
  total_dur_base += base[i][2] / 3
  total_dur_exp += exp[i][2]
  l.append((i, show_base, click_base, dur_base, show_exp, click_exp, dur_exp))

l.append((-1, total_show_base, total_click_base / total_show_base, total_dur_base / total_show_base, \
           total_show_exp, total_click_exp / total_show_exp, total_dur_exp / total_show_exp))
df = pd.DataFrame(l, columns=['pos', 'show_base', 'click_base', 'dur_base', 'show_exp', 'click_exp', 'dur_exp'])

In [20]:
df

    pos      show_base  click_base   dur_base  show_exp  click_exp    dur_exp
0     0   22670.000000    0.255257  43.088561    206869   0.248341  40.319685
1     1    2700.666667    0.191558  33.437176     23094   0.186369  34.074132
2     2   20729.333333    0.129784  21.718853    187789   0.134731  21.740256
3     3    2279.666667    0.143734   5.751718     20803   0.152911   5.065952
4     4   55172.000000    0.029012   2.092221    496655   0.029834   2.118412
5     5   26465.000000    0.076453  12.277524    240169   0.087363  13.517444
6     6   56066.000000    0.016653   1.774932    505208   0.015437   1.606948
7     7   42444.666667    0.055209   7.671549    385354   0.061398   8.186906
8     8   81912.333333    0.017148   2.128975    742264   0.017649   2.205167
9     9    2187.333333    0.043584   1.597531     20258   0.044476   1.664478
10   10  107860.666667    0.034656   5.201890    985447   0.036807   5.756600
11   11   80713.000000    0.014211   1.639938    731737   0.015493   1.816370
12   12  102806.000000    0.026295   3.744162    941141   0.029563   4.107759
13   13   77492.666667    0.009493   1.240096    704635   0.010554   1.234964
14   14   98683.333333    0.021452   3.011603    904753   0.025834   3.448358
15   15    3938.333333    0.024714   1.110876     34982   0.024298   1.293151
16   16   41894.000000    0.014958   1.628801    380682   0.017198   1.766283
17   17   95078.333333    0.017326   2.355482    872444   0.020538   2.546102
18   -1  921093.333333    0.033151   4.714013   8384284   0.035420   4.895895