In [15]:
import os
import pandas as pd

In [16]:
root = '/home/gezi/tmp/rank/data/tuwen_hour_sgsapp_v1'

In [17]:
times = ['2019111510', '2019111511', '2019111512', '2019111513', '2019111514']
times = ['2019111519']

In [18]:
li = []
for time_ in times:
  file = root + '/' + time_ + '/scores'
#   ofile = file.replace('scores', 'scores.sort')
#   if not os.path.exists(ofile):
#     command = f'cat {file} | sort -k 1,1 -k 8,8 -k 9,9 > {ofile}'
#     print(command)
#     os.system(command)
  ofile = file
  print(ofile)
  for line in open(ofile):
    l = line.strip().split()
    li.append(l)

/home/gezi/tmp/rank/data/tuwen_hour_sgsapp_v1/2019111519/scores

In [19]:
li_base = [l for l in li if l[4] == '4' or l[4] == '5' or l[4] == '6']
li_exp = [l for l in li if l[4] == '16']

In [20]:
li_base[0]

['0001f6b41c8d796658f4cb5531aefa33124e17677098',
 '19b1120x2wWUTe',
 '0',
 '0.60906005',
 '5',
 '0.374307',
 '0.374307',
 '1573816740',
 '0']

In [21]:
li_exp[0]

['0002866620037897673',
 '19b01g0f3LsDum',
 '0',
 '0.059068095',
 '16',
 '-1.0',
 '-1.0',
 '1573815580',
 '8']

In [29]:
base = {}
exp = {}

def calc(li, m):
  for l in li:
    pos = int(l[-1])
    dur = int(l[2])
    click = int(dur > 0) 
    if pos not in m:
      m[pos] = [0, 0]
    m[pos][click] += 1

In [32]:
calc(li_base, base)
for key in base:
  base[key][0] /= 3.
  base[key][1] /= 3.

In [33]:
calc(li_exp, exp)

In [34]:
base

{0: [31354.666666666668, 7900.0],
 1: [35446.666666666664, 5516.666666666667],
 2: [31846.666666666668, 3916.6666666666665],
 5: [11864.666666666666, 1969.3333333333333],
 7: [10462.666666666666, 1492.6666666666667],
 10: [5894.0, 489.3333333333333],
 12: [5061.333333333333, 429.3333333333333],
 14: [5054.666666666667, 436.6666666666667],
 16: [6580.0, 709.3333333333334],
 17: [4562.0, 358.6666666666667],
 4: [14839.333333333334, 2849.3333333333335],
 6: [13160.666666666666, 2139.3333333333335],
 8: [10222.666666666666, 1451.3333333333333],
 11: [7504.0, 1036.6666666666667],
 13: [6990.666666666667, 810.0],
 15: [486.0, 50.666666666666664],
 3: [3356.6666666666665, 264.0],
 9: [464.6666666666667, 22.0]}

In [35]:
exp

{8: [9956, 1534],
 10: [5670, 550],
 11: [7586, 1088],
 12: [5014, 436],
 13: [6990, 784],
 16: [6482, 788],
 17: [4492, 372],
 0: [30672, 8120],
 1: [34786, 5844],
 2: [31442, 4280],
 4: [15024, 2854],
 5: [11718, 2056],
 6: [12990, 2150],
 7: [10046, 1594],
 14: [5006, 510],
 3: [3430, 304],
 9: [442, 24],
 15: [400, 48]}

In [36]:
l = []
total_show_base = 0
total_show_exp = 0
total_click_base = 0
total_click_exp = 0
for i in range(18):
  show_base = base[i][0] + base[i][1]
  click_base = base[i][1] / show_base
  show_exp = exp[i][0] + exp[i][1]
  click_exp = exp[i][1] / show_exp
  total_show_base += show_base
  total_click_base += base[i][1]
  total_show_exp += show_exp
  total_click_exp += exp[i][1]
  l.append((i, show_base, click_base, show_exp, click_exp))
l.append((-1, total_show_base, total_click_base / total_show_base, total_show_exp, total_click_exp / total_show_exp))
df = pd.DataFrame(l, columns=['pos', 'show_base', 'click_base', 'show_exp', 'click_exp'])

In [37]:
df

    pos      show_base  click_base  show_exp  click_exp
0     0   39254.666667    0.201250     38792   0.209322
1     1   40963.333333    0.134673     40630   0.143835
2     2   35763.333333    0.109516     35722   0.119814
3     3    3620.666667    0.072915      3734   0.081414
4     4   17688.666667    0.161082     17878   0.159638
5     5   13834.000000    0.142355     13774   0.149267
6     6   15300.000000    0.139826     15140   0.142008
7     7   11955.333333    0.124854     11640   0.136942
8     8   11674.000000    0.124322     11490   0.133507
9     9     486.666667    0.045205       466   0.051502
10   10    6383.333333    0.076658      6220   0.088424
11   11    8540.666667    0.121380      8674   0.125432
12   12    5490.666667    0.078193      5450   0.080000
13   13    7800.666667    0.103837      7774   0.100849
14   14    5491.333333    0.079519      5516   0.092458
15   15     536.666667    0.094410       448   0.107143
16   16    7289.333333    0.097311      7270   0.108391
17   17    4920.666667    0.072890      4864   0.076480
18   -1  236994.000000    0.134358    235482   0.141565