In [1]:
import os, sys
import glob
import time
from datetime import timedelta, datetime
import pandas as pd
from plotly.graph_objs import Scatter,Layout
import plotly
import plotly.offline as py
import numpy as np
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px
#setting offilne
plotly.offline.init_notebook_mode(connected=True)
import pyarrow.parquet as pq
import json
from gezi import tqdm
import gezi
import qgrid

In [2]:
def gtime(timestamp):
  x = time.localtime(timestamp)
  return f'{x.tm_mon}-{x.tm_mday}-{x.tm_hour}-{x.tm_min}'

In [3]:
def gday(timestamp):
  x = time.localtime(timestamp)
  return x.tm_mday

In [4]:
dcs = []
for k in tqdm(range(30)):
  d = gezi.read_parquet(f'../input/train/part_{k + 1}/context.parquet')
  d['day'] = k + 1
  dcs += [d]
d = gezi.read_parquet('../input/eval/context.parquet')
d['day'] = 31
dcs += [d]
dc = pd.concat(dcs)

100%|██████████| 30/30 [00:28<00:00,  1.07it/s]

In [19]:
for i in tqdm(range(30)):
  dcs[i]['time'] = dcs[i].timestamp.apply(lambda x:gtime(x + 1))

100%|██████████| 30/30 [04:21<00:00, 10.41s/it]

In [20]:
dcs[29].time.max()

'3-22-0-0'

In [9]:
did = dc.did.sample(1).values[0]

In [21]:
did = '6c75a2fa6c2f4e19cc7d59c4cc6ec033'

In [22]:
did

'6c75a2fa6c2f4e19cc7d59c4cc6ec033'

In [17]:
for i in tqdm(range(31)):
  len_ = len(dcs[i][dcs[i].did==did])
  if len_:
    print(i, len_)

 97%|█████████▋| 30/31 [00:05<00:00,  5.24it/s]

29 16

100%|██████████| 31/31 [00:05<00:00,  4.27it/s]

In [23]:
dcs[29][(dcs[29].did==did)&(dcs[29].label==1)]

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index,day,time
2478454,1,b5afeaf15ebd48084b163cdf7cba75cd,9a6e6cc222b26cc083646e13c32730ab,650894f17eee3eb5102c6394c9d9df90,f653f737068af83a709746a60da2a0ab,6c75a2fa6c2f4e19cc7d59c4cc6ec033,2694993287,0,4253243724,1426947809,2478454,30,3-21-22-23
2478458,1,b5afeaf15ebd48084b163cdf7cba75cd,9a6e6cc222b26cc083646e13c32730ab,650894f17eee3eb5102c6394c9d9df90,f653f737068af83a709746a60da2a0ab,6c75a2fa6c2f4e19cc7d59c4cc6ec033,2872596680,0,4253243724,1426937730,2478458,30,3-21-19-35

In [55]:
dcs[4][(dcs[4].did==did)&(dcs[4].label==1)]

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index,day,time
77765,1,baf32bdfc69f5b038c30085858de47ea,88315d3de949862117566caeffd81519,183e022fe835e248ec27774c2687e312,1c58433296d1b994e72747f4b3cddbf5,015675e2f6c3d05b0148d375c8525c27,3535563902,2125121607,3426259412,1424780655,77765,5,2-24-20-24
77789,1,baf32bdfc69f5b038c30085858de47ea,88315d3de949862117566caeffd81519,183e022fe835e248ec27774c2687e312,1c58433296d1b994e72747f4b3cddbf5,015675e2f6c3d05b0148d375c8525c27,2391498716,0,3426259412,1424780831,77789,5,2-24-20-27

In [24]:
dus = []
for i in tqdm(range(30)):
  d = gezi.read_parquet(f'../input/train/part_{i + 1}/user.parquet')
  d['day'] = i + 1
  dus += [d]
d = gezi.read_parquet('../input/eval/user.parquet')
d['day'] = 31
dus += [d]
du = pd.concat(dus)

100%|██████████| 30/30 [00:20<00:00,  1.32it/s]

In [32]:
dus[-1]

,did,watch,day
0,000c3ba80c2409c25397c3b7a96bf7b7,"[[1426584338, 1689874036], [1426582429, 396537...",31
1,002935918fb49444e22021a444bed3ef,"[[1427039460, 2168299795], [1427022514, 205222...",31
2,005520bbde1b22072e0f5a2a0de90307,"[[1426920166, 2338506193], [1426918447, 228034...",31
3,0128d5011e88e088c23a6ac00aa74250,"[[1426942728, 3650366537], [1426942632, 108342...",31
4,0208e13c29cb5cf22ce4c5dab56b8a5a,"[[1426955612, 1083423540], [1426955512, 119057...",31
...,...,...,...
156268,feeb8c669a7cd6f5810fecbe0c9815f1,"[[1427036845, 78776638], [1427036039, 16533837...",31
156269,feef89c4d16cf2fdfbd42f1b82ece2c7,"[[1426566573, 3853814243], [1426566205, 164466...",31
156270,ff13fa73325f60e61a2a353f9ca7018b,"[[1426860075, 247533023], [1426860038, 1817923...",31
156271,ff82b8247eaf6a9fe24235985c3215cb,"[[1426680642, 4160178488], [1426677797, 123791...",31
156272,ffc05ab182466426d5ef1d131abeaf86,"[[1426989017, 2633810051], [1426947957, 641809...",31

In [34]:
def get_dw(i, did):
  watches = dus[i][dus[i].did==did].watch.apply(json.loads).values[0]
  dw = pd.DataFrame({'timestamp':[x[0] for x in watches], 'vid': [x[1] for x in watches], 
                   'mark': [len(dcs[i][(dcs[i].did==did)&(dcs[i].vid==x[1])]) for x in watches], 
                   'time_str': [gtime(x[0]) for x in watches], 
                    'time_str2': [gtime(dcs[i][dcs[i].did==did].timestamps.values[0]) for x in watches]})
  return dw

In [35]:
def get_dc(i, did):
  return dcs[i][(dcs[i].did==did)&(dcs[i].label==1)]

In [36]:
dw = get_dw(30, '0208e13c29cb5cf22ce4c5dab56b8a5a')
dw

AttributeError: 'DataFrame' object has no attribute 'timestamps'

In [64]:
dcs[5][(dcs[5].did==did)&(dcs[5].label==1)]

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index,day,time
78016,1,baf32bdfc69f5b038c30085858de47ea,88315d3de949862117566caeffd81519,e452a790a877bea65da21f6dbe9d9265,1c58433296d1b994e72747f4b3cddbf5,015675e2f6c3d05b0148d375c8525c27,2408359345,938623579,3426259412,1424871060,78016,6,2-25-21-31

In [65]:
dw = get_dw(5, did)
dw

     timestamp         vid  mark    time_str
0   1424871576   523259998     0  2-25-21-39
1   1424871217  3951042991     0  2-25-21-33
2   1424871159  2255467444     0  2-25-21-32
3   1424780846  2391498716     0  2-24-20-27
4   1424780663  2125121607     0  2-24-20-24
5   1424738691   602531047     0   2-24-8-44
6   1424606870  3858070560     0   2-22-20-7
7   1424577963   769089035     0   2-22-12-6
8   1424561026   119656262     0   2-22-7-23
9   1424479403  3598430390     0   2-21-8-43
10  1424478816  1228676722     0   2-21-8-33
11  1424450545    52883641     0   2-21-0-42
12  1424449356  2129854246     0   2-21-0-22
13  1424448901   453726263     0   2-21-0-15
14  1424448780   649579618     0   2-21-0-13
15  1424448378  3772562433     0    2-21-0-6
16  1424448161  2826536336     0    2-21-0-2
17  1424447993  1357717849     0  2-20-23-59
18  1424447642  2035421869     0  2-20-23-54
19  1424445980  1490784413     0  2-20-23-26
20  1424444198   876699635     0  2-20-22-56
21  1424443951   398073356     0  2-20-22-52
22  1424443670  3049894412     0  2-20-22-47
23  1424441293  3858736796     0   2-20-22-8
24  1424441028  3258985802     0   2-20-22-3
25  1424440459  2769476039     0  2-20-21-54
26  1424440147   511088299     0  2-20-21-49
27  1424439625  3463293293     0  2-20-21-40
28  1424439275   107663726     0  2-20-21-34
29  1424438724  2286763160     0  2-20-21-25
30  1424438407  1493579376     0  2-20-21-20
31  1424437759   154982929     0   2-20-21-9
32  1424437139  2205430690     0  2-20-20-58
33  1424436428   201749402     0  2-20-20-47
34  1424435547  4071491666     0  2-20-20-32
35  1424435364  2449410198     0  2-20-20-29
36  1424435198  4073766715     0  2-20-20-26
37  1424358823  4116609728     0  2-19-23-13
38  1424354167  1764041732     0  2-19-21-56
39  1424351830   592391249     0  2-19-21-17
40  1424336452     2278692     0   2-19-17-0
41  1424333517  1904323901     0  2-19-16-11
42  1424322956  3300706477     0  2-19-13-15
43  1424319725  2539410307     0  2-19-12-22
44  1424319641  3534375368     0  2-19-12-20
45  1424318720  1754042503     0   2-19-12-5
46  1424301311  1757932676     0   2-19-7-15
47  1424299392  1325685010     0   2-19-6-43
48  1424299377   162352518     0   2-19-6-42
49  1424261197  1768631192     0   2-18-20-6

In [70]:
get_dc(7, did)

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index,day,time
72701,1,baf32bdfc69f5b038c30085858de47ea,88315d3de949862117566caeffd81519,8a30ae7b3ec823c36539b1dc59882fd8,1c58433296d1b994e72747f4b3cddbf5,015675e2f6c3d05b0148d375c8525c27,3091998066,2980318439,3426259412,1425027445,72701,8,2-27-16-57

In [71]:
get_dw(7, did)

     timestamp         vid  mark    time_str
0   1425038215  1385422845     0  2-27-19-56
1   1425037283  1838803242     0  2-27-19-41
2   1425027652  3160633545     0   2-27-17-0
3   1425027559  1992993790     0  2-27-16-59
4   1425027446  2980318439     0  2-27-16-57
5   1425027435  1778102039     0  2-27-16-57
6   1425027315  2818105898     0  2-27-16-55
7   1424871576   523259998     0  2-25-21-39
8   1424871217  3951042991     0  2-25-21-33
9   1424871159  2255467444     0  2-25-21-32
10  1424780846  2391498716     0  2-24-20-27
11  1424780663  2125121607     0  2-24-20-24
12  1424738691   602531047     0   2-24-8-44
13  1424606870  3858070560     0   2-22-20-7
14  1424577963   769089035     0   2-22-12-6
15  1424561026   119656262     0   2-22-7-23
16  1424479403  3598430390     0   2-21-8-43
17  1424478816  1228676722     0   2-21-8-33
18  1424450545    52883641     0   2-21-0-42
19  1424449356  2129854246     0   2-21-0-22
20  1424448901   453726263     0   2-21-0-15
21  1424448780   649579618     0   2-21-0-13
22  1424448378  3772562433     0    2-21-0-6
23  1424448161  2826536336     0    2-21-0-2
24  1424447993  1357717849     0  2-20-23-59
25  1424447642  2035421869     0  2-20-23-54
26  1424445980  1490784413     0  2-20-23-26
27  1424444198   876699635     0  2-20-22-56
28  1424443951   398073356     0  2-20-22-52
29  1424443670  3049894412     0  2-20-22-47
30  1424441293  3858736796     0   2-20-22-8
31  1424441028  3258985802     0   2-20-22-3
32  1424440459  2769476039     0  2-20-21-54
33  1424440147   511088299     0  2-20-21-49
34  1424439625  3463293293     0  2-20-21-40
35  1424439275   107663726     0  2-20-21-34
36  1424438724  2286763160     0  2-20-21-25
37  1424438407  1493579376     0  2-20-21-20
38  1424437759   154982929     0   2-20-21-9
39  1424437139  2205430690     0  2-20-20-58
40  1424436428   201749402     0  2-20-20-47
41  1424435547  4071491666     0  2-20-20-32
42  1424435364  2449410198     0  2-20-20-29
43  1424435198  4073766715     0  2-20-20-26
44  1424358823  4116609728     0  2-19-23-13
45  1424354167  1764041732     0  2-19-21-56
46  1424351830   592391249     0  2-19-21-17
47  1424336452     2278692     0   2-19-17-0
48  1424333517  1904323901     0  2-19-16-11
49  1424322956  3300706477     0  2-19-13-15

In [72]:
get_dw(8, did)

     timestamp         vid  mark    time_str
0   1425130391   772080798     1  2-28-21-33
1   1425130355  1640447438     0  2-28-21-32
2   1425130259  1989771416     1  2-28-21-30
3   1425130107  1803422432     1  2-28-21-28
4   1425130043  1385422845     0  2-28-21-27
5   1425125922  3589698660     0  2-28-20-18
6   1425122580   944269797     0  2-28-19-23
7   1425037283  1838803242     0  2-27-19-41
8   1425027652  3160633545     0   2-27-17-0
9   1425027559  1992993790     0  2-27-16-59
10  1425027446  2980318439     0  2-27-16-57
11  1425027435  1778102039     0  2-27-16-57
12  1425027315  2818105898     0  2-27-16-55
13  1424871576   523259998     0  2-25-21-39
14  1424871217  3951042991     0  2-25-21-33
15  1424871159  2255467444     0  2-25-21-32
16  1424780846  2391498716     0  2-24-20-27
17  1424780663  2125121607     0  2-24-20-24
18  1424738691   602531047     0   2-24-8-44
19  1424606870  3858070560     0   2-22-20-7
20  1424577963   769089035     0   2-22-12-6
21  1424561026   119656262     0   2-22-7-23
22  1424479403  3598430390     0   2-21-8-43
23  1424478816  1228676722     0   2-21-8-33
24  1424450545    52883641     0   2-21-0-42
25  1424449356  2129854246     0   2-21-0-22
26  1424448901   453726263     0   2-21-0-15
27  1424448780   649579618     0   2-21-0-13
28  1424448378  3772562433     0    2-21-0-6
29  1424448161  2826536336     0    2-21-0-2
30  1424447993  1357717849     0  2-20-23-59
31  1424447642  2035421869     0  2-20-23-54
32  1424445980  1490784413     0  2-20-23-26
33  1424444198   876699635     0  2-20-22-56
34  1424443951   398073356     0  2-20-22-52
35  1424443670  3049894412     0  2-20-22-47
36  1424441293  3858736796     0   2-20-22-8
37  1424441028  3258985802     0   2-20-22-3
38  1424440459  2769476039     0  2-20-21-54
39  1424440147   511088299     0  2-20-21-49
40  1424439625  3463293293     0  2-20-21-40
41  1424439275   107663726     0  2-20-21-34
42  1424438724  2286763160     0  2-20-21-25
43  1424438407  1493579376     0  2-20-21-20
44  1424437759   154982929     0   2-20-21-9
45  1424437139  2205430690     0  2-20-20-58
46  1424436428   201749402     0  2-20-20-47
47  1424435547  4071491666     0  2-20-20-32
48  1424435364  2449410198     0  2-20-20-29
49  1424435198  4073766715     0  2-20-20-26

In [73]:
get_dw(11, did)

     timestamp         vid  mark    time_str
0   1425389022    96061885     0   3-3-21-23
1   1425389004  1228676722     0   3-3-21-23
2   1425388887  2566433568     1   3-3-21-21
3   1425222291  3747289313     0    3-1-23-4
4   1425222251  1778102039     0    3-1-23-4
5   1425191698  2818105898     0   3-1-14-34
6   1425130391   772080798     0  2-28-21-33
7   1425130355  1640447438     0  2-28-21-32
8   1425130259  1989771416     0  2-28-21-30
9   1425130107  1803422432     0  2-28-21-28
10  1425130043  1385422845     0  2-28-21-27
11  1425125922  3589698660     0  2-28-20-18
12  1425122580   944269797     0  2-28-19-23
13  1425037283  1838803242     0  2-27-19-41
14  1425027652  3160633545     0   2-27-17-0
15  1425027559  1992993790     0  2-27-16-59
16  1425027446  2980318439     0  2-27-16-57
17  1424871576   523259998     0  2-25-21-39
18  1424871217  3951042991     0  2-25-21-33
19  1424871159  2255467444     0  2-25-21-32
20  1424780846  2391498716     0  2-24-20-27
21  1424780663  2125121607     0  2-24-20-24
22  1424738691   602531047     0   2-24-8-44
23  1424606870  3858070560     0   2-22-20-7
24  1424577963   769089035     0   2-22-12-6
25  1424561026   119656262     0   2-22-7-23
26  1424479403  3598430390     0   2-21-8-43
27  1424450545    52883641     0   2-21-0-42
28  1424449356  2129854246     0   2-21-0-22
29  1424448901   453726263     0   2-21-0-15
30  1424448780   649579618     0   2-21-0-13
31  1424448378  3772562433     0    2-21-0-6
32  1424448161  2826536336     0    2-21-0-2
33  1424447993  1357717849     0  2-20-23-59
34  1424447642  2035421869     0  2-20-23-54
35  1424445980  1490784413     0  2-20-23-26
36  1424444198   876699635     0  2-20-22-56
37  1424443951   398073356     0  2-20-22-52
38  1424443670  3049894412     0  2-20-22-47
39  1424441293  3858736796     0   2-20-22-8
40  1424441028  3258985802     0   2-20-22-3
41  1424440459  2769476039     0  2-20-21-54
42  1424440147   511088299     0  2-20-21-49
43  1424439625  3463293293     0  2-20-21-40
44  1424439275   107663726     0  2-20-21-34
45  1424438724  2286763160     0  2-20-21-25
46  1424438407  1493579376     0  2-20-21-20
47  1424437759   154982929     0   2-20-21-9
48  1424437139  2205430690     0  2-20-20-58
49  1424436428   201749402     0  2-20-20-47

In [75]:
dus[-1]

,did,watch,day
0,000c3ba80c2409c25397c3b7a96bf7b7,"[[1426584338, 1689874036], [1426582429, 396537...",31
1,002935918fb49444e22021a444bed3ef,"[[1427039460, 2168299795], [1427022514, 205222...",31
2,005520bbde1b22072e0f5a2a0de90307,"[[1426920166, 2338506193], [1426918447, 228034...",31
3,0128d5011e88e088c23a6ac00aa74250,"[[1426942728, 3650366537], [1426942632, 108342...",31
4,0208e13c29cb5cf22ce4c5dab56b8a5a,"[[1426955612, 1083423540], [1426955512, 119057...",31
...,...,...,...
156268,feeb8c669a7cd6f5810fecbe0c9815f1,"[[1427036845, 78776638], [1427036039, 16533837...",31
156269,feef89c4d16cf2fdfbd42f1b82ece2c7,"[[1426566573, 3853814243], [1426566205, 164466...",31
156270,ff13fa73325f60e61a2a353f9ca7018b,"[[1426860075, 247533023], [1426860038, 1817923...",31
156271,ff82b8247eaf6a9fe24235985c3215cb,"[[1426680642, 4160178488], [1426677797, 123791...",31
156272,ffc05ab182466426d5ef1d131abeaf86,"[[1426989017, 2633810051], [1426947957, 641809...",31