In [1]:
import os, sys
import glob
import time
from datetime import timedelta, datetime
import pandas as pd
from plotly.graph_objs import Scatter,Layout
import plotly
import plotly.offline as py
import numpy as np
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px
#setting offilne
plotly.offline.init_notebook_mode(connected=True)
import pyarrow.parquet as pq
from gezi import tqdm
import gezi
import pickle

In [2]:
import pickle
d_cs = []
for i in tqdm(range(30)):
  dir_ = f'../input/train/part_{i+1}'
  d = gezi.read_parquet(f'{dir_}/context.parquet')
  pickle.dump(set(d.did.values), open(f'{dir_}/dids_1.pkl', 'wb'))
  pickle.dump(set(d.vid.values), open(f'{dir_}/vids_1.pkl', 'wb'))
  d_cs += [d]
  dt = pd.concat(d_cs)
  pickle.dump(set(dt.did.values), open(f'{dir_}/dids.pkl', 'wb'))
  pickle.dump(set(dt.vid.values), open(f'{dir_}/vids.pkl', 'wb'))
d_c = pd.concat(d_cs)
d_c

100%|██████████| 30/30 [11:14<00:00, 38.83s/it]

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index
0,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,1904212554,0,2247014434,1424424164,0
1,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,4106149810,2572513449,2247014434,1424424153,1
2,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,3471448782,0,2247014434,1424424165,2
3,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,3408428944,0,2247014434,1424424159,3
4,0,3687d08aeb8187c7691704b72fcbede2,932a5cc56763396c6b205a63868d6316,183e022fe835e248ec27774c2687e312,fb7400b0ab4726a59464a94b6842f136,3a0e9618b3fcf518deae3dce5babe72f,3897511701,0,2247014434,1424424165,4
...,...,...,...,...,...,...,...,...,...,...,...
3324508,0,d6380a5e93a7e09610801ee26ede1e86,9de1665e6430fa58785027dbf9ab53e0,3c0d3cb9415e8312b13cda9d0f111230,21032c3a66d86aa1d99127d4b97cb548,4d37aa0475ef29b6169e52c43e5ade94,751548132,0,2079574584,1426949698,3324508
3324509,0,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,3592760380,526526995,3004987730,1426943422,3324509
3324510,0,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,4054701265,0,3004987730,1426943425,3324510
3324511,1,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,543883306,3859789495,3004987730,1426943420,3324511
3324512,0,52fe823f4e241bf498d82b6afc7fbc64,9de1665e6430fa58785027dbf9ab53e0,c088e05e114ccfd7e8f93d86d22652be,ba195dd85894d6957bc61edca5ac7026,3cd428138b93cf3aebebccaeb649d971,1265262632,0,3004987730,1426943425,3324512

In [3]:
dce = gezi.read_parquet('../input/eval/context.parquet')
dc30 = gezi.read_parquet(f'../input/train/part_30/context.parquet')
pickle.dump(set(dc30.did.values), open(f'../input/train/part_30/dids_1.pkl', 'wb'))
pickle.dump(set(dc30.vid.values), open(f'../input/train/part_30/vids_1.pkl', 'wb'))
pickle.dump(set(dce.did.values), open(f'../input/eval/dids_1.pkl', 'wb'))
pickle.dump(set(dce.vid.values), open(f'../input/eval/vids_1.pkl', 'wb'))
dall = pd.concat([dce, d_c])
pickle.dump(set(dall.did.values), open(f'../input/eval/dids.pkl', 'wb'))
pickle.dump(set(dall.vid.values), open(f'../input/eval/vids.pkl', 'wb'))

In [15]:
dctrain = pd.concat(d_cs[:29])

In [16]:
len(set(dc30.did) - set(dctrain.did)) / len(set(dc30.did))

0.43912454629178177

In [17]:
len(set(dce.did) - set(d_c.did)) / len(set(dce.did))

0.8498640176713186

In [ ]:
# 所以eval的分布不太一样 更多的新用户  使用uid embedding效果会变差
# 当然也可以标记用户是否是新用户 
# 但是比较麻烦 TODO  需要全量数据顺序训练 每小时数据 都标记 是否是新用户 
# 理论上还是用history did 来表示用户 泛化更好

In [18]:
dce

,mod,mf,aver,sver,did,vid,prev,timestamp,index,region
0,398b0b8ab9310f019835d4501687cf26,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,e49dc1e8e576ff35a07e1182f4e98c91,d4cd1b51cfa81a91371911d2c2200805,2423340274,0,1427079052,0,3630555764
1,5e7e4ffa4591e820b5087aa3e1c71507,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,c8402ed2728240a7094d9cd47a64523e,1382533306,0,1427069477,1,3548503754
2,591ebc039b246bc4b31fe1c5eea5c95c,9a6e6cc222b26cc083646e13c32730ab,58655385700ba140fd860b23e2e1e9f6,94da3034f761cdce064433beb766449a,e144d82664c86cabcebd2cf0a400325e,3909211655,3012239822,1427088129,2,4142207059
3,693fbd70f2c7fb6e2cb6361f53eb5ee4,9a6e6cc222b26cc083646e13c32730ab,58655385700ba140fd860b23e2e1e9f6,3972c2aef021667834ae94db2220e845,05e86f77c9aea5b153e70194e172a3f4,3739176805,0,1427078750,3,4077617361
4,591ebc039b246bc4b31fe1c5eea5c95c,9a6e6cc222b26cc083646e13c32730ab,51b430ea3c1e69117f47831ec512a334,9202ffbeb9649f708fe3a745fe59b916,b847c153664ba1defed76fd73aa6d93e,1250204413,0,1427041170,4,2226260068
...,...,...,...,...,...,...,...,...,...,...
5565244,985d40fab040c84c65f892595fe9f7f2,fce8cc8ce0587de13c3fecbc13537746,a4ae7310d52aeec7511d20bd29289974,590a860a7867ed866c1c6954611f10aa,629d03f87a53041ae4ec3efe18f976d7,1205897918,0,1427109379,5565244,613774136
5565245,ecff271f71d2e2b20f40798da88bff7b,fce8cc8ce0587de13c3fecbc13537746,58655385700ba140fd860b23e2e1e9f6,21032c3a66d86aa1d99127d4b97cb548,ccf1b4abc81fffd830d770b3f7eceac5,2578931557,0,1427087632,5565245,1349132655
5565246,6186d14de34ab94754e384f56ac5c0bd,49b4350906323cb44f6ce51ab22f2379,58655385700ba140fd860b23e2e1e9f6,e49dc1e8e576ff35a07e1182f4e98c91,d672d8a6a7ea51ef3549b056b103f6ef,1956588681,0,1427110743,5565246,1132350273
5565247,e277978dc2149421abd2b4b7b69774f7,9de1665e6430fa58785027dbf9ab53e0,58655385700ba140fd860b23e2e1e9f6,ba195dd85894d6957bc61edca5ac7026,12fdab344ac3ee2a28e58f8aa034d8ac,4262689349,1335345942,1427124658,5565247,3781572183
5565248,f0c1a2307e75ee051478a212480b7aa1,932a5cc56763396c6b205a63868d6316,58655385700ba140fd860b23e2e1e9f6,e49dc1e8e576ff35a07e1182f4e98c91,43bd00ef779e3540dace7e7faaf0f2fa,1438669718,3097904224,1427103708,5565248,4036996937

In [19]:
die = gezi.read_parquet('../input/eval/item.parquet')

In [20]:
die

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv
0,5893106,25,1411552000,[],600008821,3174145329,2234347078,0,86.110001,0.000,1004.0
1,15819492,98,1407204002,"[2950753864, 3600550670, 3606342894, 333836411...",638675564,1413776458,2234347078,0,6954.200195,0.065,1392.0
2,16814925,21,1380506136,[],511097257,3174145329,2234347078,0,317.190002,0.000,4360.0
3,38297769,112,1425690005,"[3115812425, 2144664037, 1221620183, 325915182...",2168442617,1413776458,472867291,0,42.509998,0.000,5832.0
4,53280242,85,1367558225,"[591536023, 1613895128, 2189138809, 559740265,...",155617312,3443952599,3172394293,0,376.049988,0.000,248.0
...,...,...,...,...,...,...,...,...,...,...,...
57230,4248901384,21,1422849565,"[3902504787, 1235418045, 3804658193]",4074303298,1820266297,2234347078,0,1387.569946,0.000,5376.0
57231,4251549294,102,1331483047,"[3491274685, 3673020319, 420212420, 2851531837...",3840315261,1413776458,3445748691,0,57.770000,0.000,80.0
57232,4255628613,33,1413545288,[1134598214],1016220003,1820266297,2234347078,0,35.970001,0.000,480.0
57233,4272496705,80,1387029762,"[3309131045, 2561243119, 184102567, 2880021111...",435329116,1820266297,472867291,0,115.540001,0.000,92.0
57234,4283547666,58,1424684908,"[2142910698, 1316768238, 1853987563, 1984414365]",2753664459,470292959,2234347078,0,154.779999,0.045,10440.0

In [21]:
die.stars

0                                                       []
1        [2950753864, 3600550670, 3606342894, 333836411...
2                                                       []
3        [3115812425, 2144664037, 1221620183, 325915182...
4        [591536023, 1613895128, 2189138809, 559740265,...
                               ...
57230                 [3902504787, 1235418045, 3804658193]
57231    [3491274685, 3673020319, 420212420, 2851531837...
57232                                         [1134598214]
57233    [3309131045, 2561243119, 184102567, 2880021111...
57234     [2142910698, 1316768238, 1853987563, 1984414365]
Name: stars, Length: 57235, dtype: object

In [22]:
estars = set()

In [26]:
for i in range(len(die)):
  for item in die.stars[i]:
    estars.add(item)

In [27]:
len(estars)

4684

In [28]:
vinfo = pq.read_table('../input/train/raw.parquet').to_pandas()

In [29]:
vinfo

,vid,image_emb,title,story
0,5893106,"-8.26598072052,1.63619112968,17.9674415588,6.9...","199575,199576,40564",
1,10423101,"-3.63512468338,2.38069868088,14.9096345901,1.2...","717361,318",
2,15819492,"0.107854895294,3.20008993149,20.3623485565,-0....","396,1705,31495,3424,77035,85420,28,17970,9300,...",
3,16814925,"-11.0617599487,1.99434304237,14.9591712952,1.2...","8579,18147,73,227",
4,20360674,"6.6802148819,1.83605599403,15.9008598328,3.244...","22485,118989,12418,396611,61891,3029,26353,396...",
...,...,...,...,...
183788,4276491220,"-4.29484510422,6.66334295273,16.4290809631,-4....","3072,34976,173488,1864,6276,492635,58,19175,24...",
183789,4283547666,"-4.81997919083,13.6302375793,14.3650541306,6.9...","266947,7450,58397,42,58167,44,2577,5",
183790,4283640696,"-0.665687978268,11.5875854492,9.86795520782,3....","406009,91149,52611,66378,290,355096",
183791,4290887658,"2.51159644127,2.58366537094,9.91071224213,4.36...","42,128095,44,188981,28,6705,87381,2679,59,3316...",
183792,4294955976,"2.63969039917,5.7608537674,14.7844266891,-2.15...","19588,24,1192,91989,518690,3430,4464,691,55756",

In [38]:
twords = set()

In [39]:
for i in range(len(vinfo)):
  for item in vinfo.title[i].split(','):
    if item:
      twords.add(int(item))

In [41]:
len(twords)

167108

In [48]:
words = np.asarray(list(twords))

In [49]:
np.min(words)

0

In [50]:
np.max(words)

931032

In [51]:
dce.prev

0                   0
1                   0
2          3012239822
3                   0
4                   0
              ...
5565244             0
5565245             0
5565246             0
5565247    1335345942
5565248    3097904224
Name: prev, Length: 5565249, dtype: int64