In [11]:
import os, sys
import glob
import time
from datetime import timedelta, datetime
import json
import pandas as pd
from plotly.graph_objs import Scatter,Layout
import plotly
import plotly.offline as py
import numpy as np
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px
#setting offilne
plotly.offline.init_notebook_mode(connected=True)
import pyarrow.parquet as pq
from gezi import tqdm
import json
import gezi

In [15]:
d = gezi.read_parquet('../input/eval/item.parquet')

In [16]:
d

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv
0,5893106,25,1411552000,[],600008821,3174145329,2234347078,0,86.110001,0.000,1004.0
1,15819492,98,1407204002,"[2950753864, 3600550670, 3606342894, 333836411...",638675564,1413776458,2234347078,0,6954.200195,0.065,1392.0
2,16814925,21,1380506136,[],511097257,3174145329,2234347078,0,317.190002,0.000,4360.0
3,38297769,112,1425690005,"[3115812425, 2144664037, 1221620183, 325915182...",2168442617,1413776458,472867291,0,42.509998,0.000,5832.0
4,53280242,85,1367558225,"[591536023, 1613895128, 2189138809, 559740265,...",155617312,3443952599,3172394293,0,376.049988,0.000,248.0
...,...,...,...,...,...,...,...,...,...,...,...
57230,4248901384,21,1422849565,"[3902504787, 1235418045, 3804658193]",4074303298,1820266297,2234347078,0,1387.569946,0.000,5376.0
57231,4251549294,102,1331483047,"[3491274685, 3673020319, 420212420, 2851531837...",3840315261,1413776458,3445748691,0,57.770000,0.000,80.0
57232,4255628613,33,1413545288,[1134598214],1016220003,1820266297,2234347078,0,35.970001,0.000,480.0
57233,4272496705,80,1387029762,"[3309131045, 2561243119, 184102567, 2880021111...",435329116,1820266297,472867291,0,115.540001,0.000,92.0
57234,4283547666,58,1424684908,"[2142910698, 1316768238, 1853987563, 1984414365]",2753664459,470292959,2234347078,0,154.779999,0.045,10440.0

In [18]:
d.stars

0                                                       []
1        [2950753864, 3600550670, 3606342894, 333836411...
2                                                       []
3        [3115812425, 2144664037, 1221620183, 325915182...
4        [591536023, 1613895128, 2189138809, 559740265,...
                               ...
57230                 [3902504787, 1235418045, 3804658193]
57231    [3491274685, 3673020319, 420212420, 2851531837...
57232                                         [1134598214]
57233    [3309131045, 2561243119, 184102567, 2880021111...
57234     [2142910698, 1316768238, 1853987563, 1984414365]
Name: stars, Length: 57235, dtype: object

In [19]:
d['num_stars'] = d.stars.apply(len)

In [20]:
d.num_stars.describe()

count    57235.000000
mean         3.952389
std          4.368227
min          0.000000
25%          1.000000
50%          3.000000
75%          6.000000
max         34.000000
Name: num_stars, dtype: float64

In [22]:
len(d[d.num_stars>10]) / len(d)

0.05865292216301214

In [ ]:
d.ctr.describe()

In [ ]:
d.vv.describe()

In [ ]:
d.title_length.describe()

In [ ]:
d.duration.describe()

In [ ]:
len(d[d.duration<=600]) / len(d)

In [ ]:
len(d[d.duration<=3600]) / len(d)

In [ ]:
len(d[d.duration<=18000]) / len(d)

In [ ]:
len(d[d.duration<=10000]) / len(d)

In [ ]:
d.vv.min()

In [ ]:
d.vv.max()

In [ ]:
len(d[d.vv<=2608]) / len(d)

In [ ]:
len(d[d.vv<=100000]) / len(d)

In [1]:
import tensorflow as tf

In [2]:
import tensorflow.keras.backend as K

In [3]:
K.set_learning_phase(1)

In [4]:
# bn = tf.layers.batch_normalization(tf.constant([0.0]), training=True)
# print(tf.get_collection(tf.GraphKeys.UPDATE_OPS))

In [5]:
bn = tf.keras.layers.BatchNormalization()
bn(tf.constant([0.]))
print(tf.get_collection(tf.GraphKeys.UPDATE_OPS))

[]

In [6]:
ops = tf.get_default_graph().get_operations()
update_ops = [x for x in ops if ("AssignMovingAvg" in x.name and x.type=="AssignSubVariableOp")]
tf.add_to_collection(tf.GraphKeys.UPDATE_OPS, update_ops)

In [7]:
print(tf.get_collection(tf.GraphKeys.UPDATE_OPS))

[[<tf.Operation 'batch_normalization/AssignMovingAvg/AssignSubVariableOp' type=AssignSubVariableOp>, <tf.Operation 'batch_normalization/AssignMovingAvg_1/AssignSubVariableOp' type=AssignSubVariableOp>]]