In [1]:
import os, sys
import glob
import time
from datetime import timedelta, datetime
import json
import pandas as pd
from plotly.graph_objs import Scatter,Layout
import plotly
import plotly.offline as py
import numpy as np
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px
#setting offilne
plotly.offline.init_notebook_mode(connected=True)
import pyarrow.parquet as pq
from gezi import tqdm
import gezi

# vocab of watch vids

In [133]:
counter_train = gezi.WordCounter()
counter_eval = gezi.WordCounter()
counter = gezi.WordCounter()

In [134]:
for k in tqdm(range(30)):
  d = gezi.read_parquet(f'../input/train/part_{k + 1}/user.parquet')
  d.watch = d.watch.apply(json.loads)
  watches = d.watch.values
  for i in range(len(watches)):
    for j in range(len(watches[i])):
      counter.add(watches[i][j][1])
      counter_train.add(watches[i][j][1])

100%|██████████| 30/30 [07:25<00:00, 15.83s/it]

In [135]:
d = gezi.read_parquet('../input/eval/user.parquet')
d.watch = d.watch.apply(json.loads)
watches = d.watch.values
for i in tqdm(range(len(watches))):
  for j in range(len(watches[i])):
    counter.add(watches[i][j][1])
    counter_eval.add(watches[i][j][1])

100%|██████████| 156273/156273 [00:18<00:00, 8314.32it/s]

In [136]:
counter.total

98602040

In [137]:
len(counter.counter)

416104

In [138]:
len(counter_train.counter)

406739

In [139]:
len(counter_eval.counter)

159294

In [9]:
counter_train.counter.most_common(10)

[(2515906008, 412909),
 (4073766715, 328276),
 (1123409917, 294605),
 (2374679613, 285496),
 (3373925819, 279307),
 (1402684763, 274267),
 (1035855704, 271982),
 (307031161, 271533),
 (1117348385, 269728),
 (997539952, 268953)]

In [10]:
counter_eval.counter.most_common(10)

[(2633810051, 45240),
 (3380550257, 42657),
 (1208039942, 42385),
 (82883498, 34296),
 (2350055813, 32793),
 (2085397717, 32038),
 (3061456451, 31718),
 (894801038, 31154),
 (3844996456, 30999),
 (4150073433, 30432)]

In [11]:
counter_eval.counter[2633810051]

45240

In [12]:
counter_train.counter[2633810051]

41530

In [13]:
counter_train.counter[3380550257]

186128

In [15]:
len(counter_eval.counter - counter_train.counter)

10380

In [16]:
set(counter_eval.counter.keys()) - set(counter_train.counter.keys())

{3319955456,
 4064444418,
 4104650757,
 1704067077,
 1243545608,
 4070375433,
 4276617232,
 4021747730,
 1034321940,
 532447253,
 2226257941,
 2249064477,
 898203681,
 2495971378,
 2541912114,
 2685796413,
 429162569,
 2441510985,
 4015325261,
 2063925332,
 468320342,
 1146159207,
 2095710312,
 380403817,
 1031798890,
 3807477874,
 3197796466,
 3456598130,
 3076980855,
 3864232055,
 1824686204,
 334200962,
 3171844231,
 4059562124,
 3631841420,
 2457742,
 1843986578,
 2701983891,
 3442933910,
 2468282522,
 3328442523,
 933986460,
 3829956768,
 3338666151,
 764117159,
 4108583082,
 3385983149,
 1203437744,
 3526852786,
 1085604019,
 3304849594,
 3390767291,
 3639738559,
 4134961345,
 2674983111,
 2373484755,
 3522724053,
 3105947864,
 1196458205,
 3158278367,
 1213825252,
 1557364968,
 3343778025,
 3994878190,
 4183884015,
 273088751,
 2516877562,
 2717516028,
 1081049346,
 2316108050,
 2042626324,
 411599127,
 2408022299,
 363266334,
 1981022495,
 3932160288,
 2091909412,
 3809280292,
 698515751,
 4287398185,
 2648998186,
 675610925,
 450953517,
 1905656118,
 741179706,
 1148059963,
 2291663167,
 3297608001,
 1024360776,
 3418095955,
 2814574932,
 3012821339,
 1460240732,
 2750546267,
 3201270112,
 2538766690,
 2621473127,
 2900689256,
 1020428647,
 2545254763,
 4238705005,
 690258291,
 580256117,
 2579300731,
 4915580,
 4152492414,
 2194571647,
 1588625792,
 3147399552,
 3061481860,
 1775370637,
 2111308181,
 3517514135,
 2179105177,
 682557851,
 746586526,
 2327511464,
 557023669,
 102203831,
 534249915,
 3291021756,
 210534846,
 1275298238,
 3228172737,
 2691072453,
 3910828487,
 1671823823,
 2109735380,
 958005723,
 627048925,
 3663364574,
 1919943135,
 4239426015,
 3820454370,
 1605403112,
 2163048936,
 1022558705,
 3616473587,
 46236150,
 1530429943,
 3699638776,
 3811443197,
 4002349568,
 2066645508,
 4004643333,
 3912466949,
 423821843,
 3067052579,
 2731311653,
 882049577,
 2372960817,
 3632333361,
 2091713075,
 2796356148,
 3233415729,
 1381696058,
 1412694589,
 3445260862,
 3028582980,
 3501556293,
 552862282,
 3115844171,
 3245802058,
 246547021,
 3686826574,
 639533645,
 2160525911,
 1627587160,
 3506930264,
 1579975261,
 2576351839,
 2528903781,
 2829320805,
 4058120811,
 1923613293,
 227377773,
 1806697071,
 927629933,
 1686766195,
 2329248376,
 645792376,
 2078999161,
 3783295612,
 4002087552,
 2757296769,
 490308227,
 255525508,
 3166175878,
 1503298184,
 1734836876,
 2081653393,
 1843135122,
 1179746964,
 525042326,
 4063494808,
 1308721816,
 4174414492,
 791839388,
 178717343,
 2181366432,
 3331621537,
 202932899,
 2045346469,
 3601498791,
 2133557928,
 2233270956,
 1922663084,
 1861550771,
 1278608059,
 268698302,
 1149567682,
 1626604229,
 19432136,
 3638395596,
 78938835,
 1509098197,
 859701974,
 580387543,
 549978845,
 333152997,
 2149188327,
 460653291,
 3437363947,
 1351516909,
 1846805233,
 3500212977,
 2484437747,
 2639233777,
 3820552950,
 1963819772,
 571343613,
 1055261446,
 614564620,
 394298127,
 1002013457,
 304874259,
 60359444,
 3430875927,
 877363991,
 4088922911,
 1479148319,
 3968369441,
 4124836642,
 2963145505,
 3001320244,
 112558901,
 2665481017,
 3891200825,
 821134144,
 3959685961,
 3743613773,
 3040183119,
 4000252754,
 2496627551,
 957612897,
 1466499938,
 2378138472,
 2834039659,
 2247623541,
 4056384373,
 3885761401,
 845218681,
 1796047748,
 1623262089,
 2172289931,
 1686635410,
 3621815187,
 3073999764,
 2767684504,
 1428816794,
 2049475487,
 154469288,
 1009812401,
 3598844853,
 3081569206,
 172131255,
 3095233465,
 2925691834,
 4244800447,
 3998483393,
 3314123716,
 2640708553,
 115803082,
 3362161615,
 169739216,
 326861778,
 2551251924,
 1891009496,
 2093679577,
 4137649113,
 2756281314,
 4047471599,
 3907421169,
 514589682,
 157090803,
 1989379061,
 3466822647,
 1567130616,
 1262060537,
 4038558712,
 1425900540,
 4239492094,
 653493247,
 3084452865,
 3619456002,
 4072834050,
 3049260038,
 4019389446,
 2695037959,
 3977053193,
 3915383818,
 4252566540,
 2389541900,
 3547464716,
 3743122455,
 1166803992,
 2481783836,
 934151198,
 1870201888,
 623543331,
 3135439909,
 1044939817,
 3257959469,
 2965701678,
 816415791,
 3565126701,
 680068145,
 3907617842,
 1400177715,
 2813854772,
 121865262,
 1888715824,
 2937652286,
 3411379263,
 3381331006,
 1517388867,
 1440580676,
 1394213957,
 4005987400,
 1715045449,
 1337459785,
 1391821898,
 1926825041,
 2325283927,
 3689317463,
 2245690457,
 1930298460,
 3784082525,
 2279965794,
 473367657,
 4149642346,
 4161406061,
 3900081264,
 1433699445,
 1380779125,
 2569176183,
 1239057526,
 409568379,
 1673921669,
 3721626758,
 3366945934,
 2292974736,
 2098496660,
 2946991260,
 694617250,
 533071013,
 555779239,
 668304556,
 1914537133,
 3166864556,
 3869279413,
 3946972343,
 2339865783,
 1276085437,
 722076862,
 380110017,
 349799623,
 2636940488,
 2494563535,
 2134017231,
 9962714,
 905708764,
 999097566,
 2426275040,
 2589328612,
 3767993573,
 3945170150,
 1757021421,
 2109965553,
 876348660,
 4001236213,
 99419387,
 3124987131,
 2495186173,
 3183707394,
 1619002628,
 567543046,
 1454441735,
 335578379,
 768705803,
 3842376973,
 3475670288,
 1807779090,
 1070204186,
 2995029275,
 3388605725,
 320308510,
 3265234209,
 4036789539,
 1737327909,
 1210254633,
 2190968105,
 1364952367,
 2762048816,
 2552464693,
 3707340090,
 313754941,
 3562472767,
 3464725823,
 729974086,
 3188163911,
 1695581522,
 1370391893,
 1278510424,
 2804811097,
 4052354393,
 4007920995,
 3370878307,
 4287169902,
 1703249262,
 3295511921,
 1813054836,
 2195621243,
 2969699712,
 2649425289,
 841844107,
 2323809676,
 1377863057,
 3901031826,
 4029973907,
 1884751251,
 104039826,
 2605024663,
 3730769303,
 1162970524,
 97486246,
 451708330,
 53216703,
 3425732034,
 3023668675,
 3653436866,
 3588228551,
 1110738378,
 3716777418,
 1341064652,
 903120334,
 3298756047,
 1848640980,
 1110312407,
 2180220377,
 2945025506,
 2195293669,
 3030222310,
 1986364904,
 1624016361,
 1726514670,
 3610084849,
 3125577221,
 3507127815,
 551159305,
 1949402639,
 1153992209,
 3508274709,
 1161823771,
 1014367775,
 3251471915,
 3498575404,
 2778433071,
 3725493810,
 1485211190,
 513115706,
 606373442,
 1802044995,
 3660645964,
 81725010,
 2410251859,
 3132294747,
 3486287453,
 3581937254,
 754124394,
 1466926700,
 556369519,
 2737702517,
 3382314617,
 3398010497,
 657131148,
 4041967246,
 3041298073,
 234620570,
 873793181,
 3135932062,
 737347231,
 2233665184,
 1051035297,
 672106143,
 3061810851,
 1696794276,
 3761702564,
 1011812016,
 1375995574,
 1125189303,
 1601406649,
 3131901629,
 3130033856,
 1064240835,
 3051259591,
 2524513996,
 1696958160,
 1818429136,
 770475731,
 1473382104,
 1616414429,
 3352397535,
 375949025,
 1583843042,
 3971909357,
 4157671150,
 3668969200,
 260540154,
 917047035,
 3405711100,
 2985953021,
 3107653378,
 1497925380,
 1029736203,
 1555138319,
 4053174031,
 422479639,
 526976794,
 909838110,
 1505298207,
 2243004191,
 3805021985,
 59311905,
 1704920871,
 3428583214,
 3191113518,
 2860681007,
 2874672947,
 3432154934,
 857114428,
 3448407869,
 2323187519,
 1198819136,
 835815232,
 96241478,
 2173503302,
 528811847,
 1740965707,
 4282484555,
 1773799243,
 1476036432,
 3054569297,
 1204586323,
 3355739989,
 1669597013,
 2387707733,
 763201366,
 2539030366,
 2547779423,
 2864482152,
 4241262445,
 2161444719,
 1418266484,
 408979318,
 966002553,
 513345411,
 607651717,
 2120812424,
 4132472716,
 4255123348,
 2412283796,
 3382544276,
 3511322518,
 453314456,
 3216082846,
 3507455909,
 1553696678,
 1295878055,
 1515259819,
 1921550259,
 1542358978,
 4067821517,
 3490678733,
 3092744146,
 2133395418,
 1552779231,
 62261223,
 1263601652,
 2939684857,
 1970407421,
 220989440,
 2272823296,
 1185908746,
 2269939728,
 3513878546,
 3810592792,
 2430044184,
 2691008542,
 2845083680,
 1233913895,
 4206168104,
 3222964265,
 949684278,
 1037371447,
 1514113080,
 3399157821,
 3707177028,
 2243758149,
 1172375630,
 2523826256,
 963315803,
 607029341,
 3893692518,
 4187785321,
 2783119470,
 416712816,
 45680757,
 115181685,
 2295138426,
 1175586939,
 1180633212,
 781715582,
 3233482882,
 295209092,
 4182378640,
 378439826,
 1112410261,
 2761820313,
 2952759454,
 3473082527,
 3466594464,
 3739584673,
 1590921375,
 1065486499,
 333121700,
 542410918,
 516491430,
 3577710758,
 2345371818,
 444795051,
 2786134188,
 1334347949,
 3597633714,
 1432225971,
 3898738870,
 3803646134,
 1054640313,
 1210976443,
 3278637249,
 148998339,
 1357449415,
 3775793351,
 2522417353,
 328206538,
 3180759241,
 922061004,
 3976366284,
 679807182,
 1279985867,
 4155934928,
 3679619285,
 3721300185,
 1956677850,
 597395673,
 3557066975,
 1318848736,
 2231142629,
 463800551,
 2170718443,
 1798506732,
 927729902,
 2922842353,
 2496170227,
 2396457204,
 2428700935,
 1708132619,
 701794576,
 990677269,
 1622640923,
 3854993698,
 2717878565,
 1412303142,
 165349670,
 121145640,
 3535702314,
 1496877355,
 2321811756,
 148408627,
 3171682612,
 3847031091,
 4217833780,
 471927101,
 2529855812,
 4116777293,
 3252160846,
 2126186840,
 575834460,
 2453473639,
 2525333863,
 2580121965,
 3304196461,
 3338766708,
 389613943,
 4063758712,
 1139247482,
 1019382143,
 2775845250,
 1875970444,
 1500154262,
 2775484831,
 3047000483,
 1688537510,
 36735399,
 2357103020,
 2431158704,
 2822670770,
 4144368053,
 1489996214,
 3951659450,
 611649980,
 1192954302,
 1541573055,
 1456376256,
 3530328516,
 941001159,
 2153810377,
 826051020,
 3505359311,
 2229242320,
 4167469521,
 1771866582,
 4000451031,
 3490908632,
 2038237659,
 1252133343,
 2331085281,
 3529542114,
 2451114469,
 490605039,
 2257521142,
 1729825274,
 2022607365,
 3403811336,
 1025313295,
 961088016,
 82381332,
 1526073886,
 3140848161,
 1687554595,
 2529790511,
 1476987442,
 33262133,
 516753995,
 3677784663,
 714279513,
 707693150,
 2925628001,
 3040381538,
 2989918817,
 2490534500,
 2215086690,
 3513682534,
 3630598770,
 2243463795,
 467372664,
 3610249853,
 1859783294,
 1155730047,
 915114623,
 4064545409,
 4144237186,
 2762148484,
 2162559627,
 2597096076,
 811993744,
 1736837783,
 772311704,
 3101035163,
 805997211,
 2376108701,
 3423570592,
 3215395489,
 3506539171,
 1174112935,
 3747089067,
 2555677357,
 3798010541,
 3432876721,
 2269285042,
 117738164,
 1537051324,
 3091335868,
 1043073732,
 255855305,
 1619528395,
 3054537425,
 1291586258,
 641174227,
 4156656342,
 4130671322,
 3125775075,
 22481636,
 236292841,
 4237626091,
 3911453424,
 2691533564,
 3849358077,
 4115041022,
 1675528960,
 3486026503,
 855411466,
 1611696906,
 3324283660,
 4183493386,
 2583890701,
 793709326,
 1842842382,
 2994473745,
 4072049430,
 2446002967,
 1866861341,
 4257975069,
 379259679,
 1949797157,
 4211837740,
 1550977838,
 3274738479,
 2165541679,
 3262352180,
 1675201333,
 168856376,
 3143371579,
 172165947,
 2902330177,
 3936881487,
 3581446998,
 3041528675,
 2004618088,
 1023183724,
 2864614265,
 1791232890,
 550898560,
 3444804483,
 2158594948,
 1609763717,
 4266036104,
 3329526677,
 4273081242,
 1692928923,
 2473233308,
 408816554,
 3783723952,
 3784084406,
 1486687158,
 4032465846,
 26741693,
 4135259069,
 1732742079,
 2022607808,
 2770963396,
 1491012550,
 1091603402,
 3102772172,
 2466646992,
 363858900,
 2174028757,
 3437202393,
 1527745499,
 418188252,
 423922655,
 2576944098,
 3688401899,
 60885999,
 4170779634,
 3321859059,
 2234846196,
 2158431221,
 1381534716,
 1185582076,
 542837765,
 1455393800,
 3254127637,
 1477577751,
 2888141848,
 4116483108,
 2145717285,
 2532150312,
 1595509801,
 4147874864,
 3041791025,
 3342142514,
 4272491573,
 2619542582,
 2191658039,
 2615479361,
 4168453185,
 2834238531,
 3659500610,
 3787066445,
 1805945934,
 2473921618,
 1552649305,
 123440221,
 3258125410,
 3961687143,
 2318896239,
 2261159044,
 1434258570,
 821595276,
 1992428689,
 2665778322,
 2176257170,
 999132308,
 3497266326,
 2098728086,
 1172540567,
 533040279,
 2328759453,
 289410207,
 2045611168,
 2885815456,
 1971883177,
 897748140,
 1589939374,
 2148502707,
 2099252408,
 2657586361,
 102993083,
 1188433087,
 1620675778,
 376671432,
 1176997074,
 2851310813,
 351571168,
 3046640868,
 1435110629,
 3655765221,
 659786984,
 976129260,
 648187120,
 1403751670,
 3849129211,
 2142539005,
 533302530,
 2017299714,
 2178714887,
 2259717384,
 22088968,
 4257615115,
 2046364940,
 2562329875,
 4113632541,
 3340602656,
 716311841,
 3890285868,
 3952839985,
 311135538,
 3580300595,
 173804853,
 1524960566,
 1646103865,
 4155149633,
 763530569,
 812223822,
 1203735887,
 4150857045,
 4193652056,
 2644512092,
 2623540573,
 1873710433,
 422874466,
 1188433250,
 332828004,
 4063464802,
 72191340,
 4166192504,
 839028092,
 2689731967,
 444075392,
 3245149568,
 955256195,
 1707838851,
 517672326,
 1609600393,
 396955019,
 3257503115,
 1942883726,
 45354393,
 237243804,
 ...}

In [17]:
len(set(counter_eval.counter.keys()) - set(counter_train.counter.keys()))

9365

In [18]:
counter.save('../input/all/watch_vids.txt')

total_count 98602040 unknown_count 0 total_word 416104

In [19]:
counter_train.save('../input/train/watch_vids.txt')

total_count 92592550 unknown_count 0 total_word 406739

In [20]:
counter_eval.save('../input/eval/watch_vids.txt')

total_count 6009490 unknown_count 0 total_word 159294

# vocab of vids

In [130]:
counter2_train = gezi.WordCounter()
counter2_eval = gezi.WordCounter()
counter2 = gezi.WordCounter()
counter_prev = gezi.WordCounter()

In [131]:
for i in tqdm(range(30)):
  d = gezi.read_parquet(f'../input/train/part_{i+1}/context.parquet')
  for vid in d.vid.values:
    counter2.add(vid)
    counter2_train.add(vid)
  d = d[d.prev!=0]
  counter_prev.adds(d.prev)

  0%|          | 0/30 [00:00<?, ?it/s]
100%|██████████| 30/30 [05:54<00:00, 12.10s/it]

In [132]:
d = gezi.read_parquet(f'../input/eval/context.parquet')
for vid in tqdm(d.vid.values):
  counter2.add(vid)
  counter2_eval.add(vid)
d = d[d.prev!=0]
counter_prev.adds(d.prev)

100%|██████████| 5551832/5551832 [00:20<00:00, 264774.42it/s]

In [24]:
len(counter2.counter)

165527

In [25]:
len(counter2_train.counter)

162719

In [26]:
len(counter2_eval.counter)

42815

In [27]:
len(counter2_eval.counter - counter2_train.counter)

3458

In [28]:
set(counter2_eval.counter.keys()) - set(counter2_train.counter.keys())

{3700940800,
 1927471105,
 114892802,
 4144521219,
 1577000964,
 1832321029,
 1343741959,
 1399963656,
 766271504,
 1072545812,
 1029578775,
 319725594,
 1170292762,
 2930483229,
 2329772073,
 4193099818,
 1436680235,
 4085588013,
 1678172206,
 714719280,
 1038401586,
 2020556853,
 2205261879,
 2526879806,
 3974389824,
 1815363651,
 2483077187,
 1556955205,
 361979974,
 71229513,
 3031597130,
 94019683,
 444031078,
 2095710312,
 3165233257,
 1945477228,
 3838181486,
 3197796466,
 2790514805,
 2833522811,
 2283577469,
 496746622,
 3772604544,
 3736436867,
 1986470020,
 172166,
 1365958790,
 1428349062,
 3580346504,
 3246309518,
 4092256402,
 3710664858,
 1978417307,
 3459637406,
 2345951393,
 1864704164,
 3898966183,
 3777183918,
 1490403503,
 4201930929,
 3389259954,
 30097594,
 1099997379,
 1416200392,
 7676105,
 3250651346,
 4218929364,
 1202233563,
 3747250407,
 563642599,
 1590485223,
 2911895788,
 2613674222,
 274718960,
 3867762936,
 1983160570,
 419602687,
 208478464,
 3990266114,
 2825445634,
 2227847432,
 1967210763,
 565264651,
 2762514701,
 4192035085,
 1042776340,
 1124147477,
 2411405589,
 1333346583,
 3549749528,
 1238335765,
 347701527,
 1296580895,
 733765919,
 1771036963,
 2356363558,
 2831573290,
 3534291243,
 2272231725,
 2011742510,
 383017264,
 1346986290,
 13197621,
 553836857,
 2507686202,
 4079173947,
 587923772,
 4197294412,
 3321102669,
 394568023,
 2599846232,
 4109623640,
 1465770330,
 834117983,
 1436549473,
 925884769,
 330309989,
 3145179493,
 1623261550,
 1753399664,
 3175915891,
 1226891640,
 86409596,
 4111507837,
 1008411005,
 1458233739,
 1083310476,
 1775370637,
 4206133645,
 2903253391,
 2405253522,
 1132413331,
 3613917588,
 3538002325,
 4116070807,
 2285142424,
 1098555801,
 530932120,
 1624711586,
 3657654695,
 4169441705,
 2685600174,
 3289588144,
 1702338993,
 1566949809,
 2819424691,
 4141728179,
 740000189,
 2837242306,
 2454987205,
 1641750981,
 1535697351,
 181264840,
 3962970569,
 289309130,
 2534728138,
 956940745,
 474079690,
 3023921615,
 243663316,
 1249239510,
 1204462039,
 2284257756,
 675643868,
 4207378916,
 2870108645,
 1255203304,
 430686696,
 4054450668,
 541450733,
 1108337137,
 2439758322,
 789299700,
 2056659445,
 1474519544,
 1310859770,
 3800465917,
 1638932993,
 2872697350,
 387719687,
 224281102,
 3833373198,
 3725894161,
 3435774482,
 24945178,
 3824026141,
 1343341092,
 2173182507,
 3306160687,
 2091713075,
 42975800,
 2774835769,
 4069163578,
 281838139,
 1129759290,
 829514304,
 2164564547,
 1449648709,
 3067880008,
 4236845641,
 1013588557,
 1627587160,
 2680463971,
 2522161768,
 1284981354,
 2864980587,
 4017160815,
 3060294260,
 3125650042,
 4280181374,
 3999154823,
 2589254282,
 3017704075,
 2327274122,
 1044587149,
 356139662,
 938377877,
 1328997015,
 2053415604,
 1236935350,
 3948421814,
 1549181631,
 1234772676,
 2509644485,
 1945715401,
 2633073354,
 939926223,
 579576530,
 1699406547,
 1539744468,
 1548206805,
 815334107,
 3372311262,
 894247649,
 2406523619,
 375194339,
 2652865253,
 3088663274,
 310780655,
 2467316463,
 4194116337,
 1618707196,
 1786299133,
 557441790,
 1164133122,
 1086661380,
 3589890820,
 2321122061,
 2617959182,
 2752357137,
 3387228947,
 1864762132,
 433398550,
 423543578,
 3155698460,
 3281167146,
 2040996653,
 3462357810,
 4178035507,
 2788778805,
 3655254841,
 2562745147,
 3152347963,
 3968762686,
 2382791494,
 2152579911,
 2847204168,
 2294973257,
 2483692362,
 4156310349,
 2650555214,
 694862673,
 1268958036,
 80479064,
 316056410,
 1599628131,
 133505892,
 3883402086,
 1315046246,
 2115879783,
 3395298153,
 1597506413,
 652551025,
 2944811890,
 2299069298,
 482231157,
 614376319,
 2253210496,
 3602948993,
 4019774338,
 1143743363,
 3619685252,
 2130158465,
 1220912007,
 1394680712,
 504415113,
 1431364489,
 4056621965,
 1370071949,
 480387985,
 873210777,
 3600147354,
 1051026343,
 1488700327,
 2523005869,
 1098113972,
 2998961078,
 2724103094,
 2925691834,
 3409404860,
 347653053,
 2880701375,
 4020323266,
 1144710087,
 3644711888,
 63439825,
 50553810,
 3700466651,
 50111452,
 1029792738,
 2468668388,
 1708491752,
 1235379181,
 592389101,
 1689043952,
 3184133106,
 1852824224,
 3091301368,
 2487821308,
 1589937150,
 290759679,
 3648054270,
 3592537093,
 4222772232,
 1178715144,
 3922207759,
 1545962514,
 3787482132,
 4154655765,
 1202775062,
 4019995670,
 867222550,
 3872531481,
 1811653661,
 4258276387,
 2414765099,
 1002243120,
 2956100658,
 4289086515,
 2520589364,
 3868271669,
 3585090614,
 1515078714,
 1273242683,
 1305592893,
 4193010753,
 3480511556,
 1349821514,
 1548747856,
 1773298770,
 2461172826,
 4069663837,
 3964666975,
 3721380964,
 1174201453,
 966354033,
 1279894642,
 173925491,
 1817511029,
 1917445238,
 586589307,
 3074827392,
 3536594050,
 3142509704,
 4249183372,
 2604844186,
 1138525339,
 1094386846,
 29009055,
 4254614688,
 1244300449,
 2601780387,
 2878407843,
 3845727395,
 706708644,
 4246316197,
 3067339958,
 520070332,
 3326469309,
 3504530622,
 320201921,
 736363719,
 3698861257,
 3794478281,
 4129850572,
 556999884,
 458892496,
 2028414163,
 1175536851,
 318219478,
 575153369,
 3522020576,
 450397413,
 4061431014,
 1223894245,
 775832808,
 907715819,
 1446110445,
 2250769648,
 2316190965,
 564929784,
 3712025852,
 1819149566,
 4214408455,
 1795163400,
 3887449352,
 12379405,
 3488326930,
 1320658194,
 1237435666,
 1728283930,
 2289214748,
 2254177567,
 3811992863,
 3254428960,
 1621312800,
 1069417768,
 877626667,
 938042679,
 2640627003,
 236258622,
 2622801215,
 2608260415,
 385205568,
 60532034,
 1790436671,
 1505568071,
 10822984,
 635413831,
 1628128587,
 808658254,
 731186519,
 1733092696,
 1063150940,
 4193445217,
 3304023394,
 2970887525,
 1260381542,
 4227622255,
 855532916,
 182732152,
 1746691449,
 2476516731,
 930407805,
 1478796675,
 4061177220,
 4271424899,
 441329035,
 3047916939,
 1000572300,
 3659007374,
 2894677391,
 381060497,
 2633606545,
 2253743508,
 4168762777,
 810550682,
 3909223836,
 2216330653,
 1037108643,
 4180895141,
 977806758,
 1113081254,
 1141597610,
 2928444850,
 4133774772,
 826918327,
 3065849273,
 221038011,
 3796813245,
 3425732034,
 643171779,
 167765444,
 1938851269,
 1280574918,
 3367396813,
 1543259603,
 1776387543,
 358884824,
 2243593690,
 541722075,
 438502879,
 2285676001,
 230893026,
 1423681000,
 2969732587,
 3529680365,
 2908005870,
 2831230446,
 2283144696,
 1370908153,
 3787032066,
 2529936902,
 2676712967,
 2147509776,
 692241941,
 1521477141,
 776218137,
 1934460449,
 3535848999,
 1503331881,
 2178377260,
 3835512367,
 1622091315,
 2017920564,
 1920345653,
 866076218,
 3235759682,
 2252645957,
 2654070341,
 2552399435,
 2906580558,
 3682797137,
 860513876,
 3900941912,
 907511385,
 1061611103,
 68347490,
 3217032805,
 3231319656,
 1664665193,
 4007339629,
 2770544,
 2615379569,
 1219569266,
 3842795127,
 1040680567,
 869074554,
 1235379835,
 201819771,
 1798530690,
 3256092291,
 2674419334,
 2313668233,
 1206298250,
 3309045389,
 1711851151,
 2068178575,
 1991681682,
 1831487125,
 3444098709,
 3233736342,
 2171684504,
 2834392728,
 3605685915,
 1425868443,
 660752033,
 3002640035,
 2333583011,
 2372822695,
 3669427883,
 1580566187,
 976799406,
 3515745967,
 1435444910,
 146753199,
 1446364853,
 3225061046,
 545343163,
 1994393276,
 3801532092,
 193709763,
 3790833348,
 3590743750,
 1120863946,
 2179860171,
 1246447306,
 2888697552,
 1404241620,
 762078933,
 1930053334,
 3326912215,
 73213655,
 1044874967,
 2074191582,
 2657314533,
 475907813,
 4090218220,
 670181101,
 3971909357,
 2456135407,
 2408605430,
 3978118903,
 2058962678,
 619833080,
 1979131646,
 990897923,
 3698927364,
 2151343879,
 1690691345,
 471697171,
 2582882072,
 2367432473,
 2502493981,
 2042570525,
 1505298207,
 930137893,
 2822219559,
 2983839528,
 3559073577,
 1318635308,
 627435309,
 2530625326,
 2046568241,
 872728369,
 598066995,
 1406461751,
 3321423673,
 3600680764,
 417687358,
 4228433728,
 808314691,
 249825093,
 3628222283,
 3807995723,
 4289734478,
 428590934,
 3151226710,
 335087448,
 1214523229,
 302868318,
 2850277213,
 884164449,
 4035979107,
 745023331,
 1823934310,
 2192467819,
 683591535,
 2761844597,
 606652277,
 2959812472,
 1740179324,
 3354707838,
 2739595136,
 937248641,
 2642069385,
 3616139151,
 1222035345,
 2034411411,
 3896551316,
 3760383902,
 3216082846,
 3371149217,
 1751271330,
 3822872482,
 1808869282,
 2434148261,
 2836883365,
 609544104,
 4247635881,
 3905709994,
 525043635,
 4046956489,
 874670035,
 904128468,
 2991409112,
 4288587737,
 1671563226,
 117499867,
 3049809882,
 2215593948,
 2673608670,
 1958799338,
 1981269998,
 3627763695,
 2366294000,
 1446578161,
 4164282357,
 4048947193,
 3496871931,
 974071805,
 1420093441,
 2178721805,
 2619484174,
 3762333710,
 1422354451,
 1070508055,
 333522971,
 224602149,
 50563119,
 3525216308,
 495568948,
 1181804602,
 2830108731,
 528959546,
 562735175,
 1527572555,
 3642837069,
 2731026521,
 3961325660,
 2735548512,
 91883621,
 1151617130,
 2061887596,
 4278634611,
 564668532,
 2236852344,
 2617247865,
 1616832645,
 448399494,
 4116539530,
 3109226635,
 255207565,
 2893195407,
 2656168086,
 1216866456,
 120907931,
 4185737375,
 1512130724,
 1742268582,
 3617245361,
 371312821,
 1270081718,
 46663866,
 2198571194,
 4004808892,
 1911949501,
 745973950,
 3763988666,
 4221421761,
 1584777416,
 3148900553,
 746375375,
 3511470288,
 3295152338,
 324258007,
 572917976,
 3621349593,
 346818782,
 1321994467,
 1726081251,
 3794757863,
 3194431722,
 3771173100,
 537405678,
 204900591,
 356288752,
 57772270,
 4211648754,
 1276266742,
 1239410934,
 3129837818,
 3236096251,
 1160997124,
 698517766,
 255011078,
 2713962760,
 3815598347,
 1576544528,
 945154320,
 1716406547,
 1346275604,
 1622903060,
 821578006,
 1784006932,
 152447258,
 4126058780,
 3464186142,
 175663391,
 1989962016,
 1466190115,
 3476539688,
 3807750441,
 3671435561,
 1496877355,
 3611715888,
 2862565680,
 1292970292,
 2544855350,
 2720074042,
 2073741627,
 2397546811,
 471927101,
 1576536383,
 2631690567,
 1256655175,
 3230452045,
 1190570318,
 120416589,
 163735889,
 725297489,
 351496529,
 3817630042,
 1693878618,
 3184052571,
 4100876637,
 3244206430,
 494365022,
 3579988320,
 2373749090,
 341969256,
 986196331,
 3304196461,
 2650048877,
 217033082,
 3079743867,
 3063949692,
 1446889850,
 1838729604,
 2841364868,
 3941845381,
 4204251528,
 1344416146,
 111970707,
 1733003666,
 2289158555,
 1110256028,
 1563584933,
 1781172646,
 144869800,
 980863400,
 1885890994,
 4143090105,
 2411702713,
 1479510459,
 1701906877,
 3782945217,
 188041669,
 1904323013,
 3246336456,
 651446735,
 2636704209,
 3500173798,
 759671270,
 1616554472,
 3027937773,
 220858867,
 3366382069,
 541346301,
 1133267454,
 1360202242,
 1840343554,
 1198074372,
 2202257925,
 925911558,
 3344370184,
 2542135819,
 1125911052,
 433990157,
 1025313295,
 252996114,
 3960449558,
 1582893591,
 3075369497,
 3146148378,
 26216994,
 2486094374,
 1868982825,
 275147311,
 1552435762,
 2233322034,
 3510348341,
 368036406,
 3330345527,
 1689864761,
 2817493561,
 353790528,
 2932369986,
 4009413187,
 3362843205,
 3413035590,
 227109452,
 533506637,
 1988422221,
 1519782488,
 428542558,
 2989918817,
 818285154,
 1745611367,
 3129674345,
 3286747754,
 3237931629,
 1120143982,
 1654819438,
 3850488432,
 1511721585,
 4127984245,
 275196538,
 1860192893,
 2794515071,
 3905579648,
 1635527299,
 987728515,
 406063754,
 2162559627,
 3058526859,
 1046629019,
 3299805853,
 490908326,
 590310058,
 2594433706,
 3865995949,
 2954660527,
 520997554,
 1408182964,
 3055332022,
 2939120313,
 3924134592,
 343919296,
 4167084739,
 1407060677,
 280373957,
 93186766,
 2783185618,
 2873182940,
 3293874912,
 746359524,
 3945081572,
 2804386534,
 1373170408,
 3463310061,
 43158264,
 4173056761,
 1430555386,
 204278522,
 2562239234,
 681552643,
 2218380037,
 2716289798,
 2430577416,
 152201994,
 708250378,
 4084804365,
 2546420494,
 2961083152,
 2433461011,
 3834620693,
 4083534616,
 1412492060,
 917457693,
 3816213297,
 2079132465,
 2693262131,
 341183284,
 3679177525,
 3441183542,
 1845594936,
 2357791545,
 3756960571,
 2315864891,
 3733744445,
 906824512,
 3142200132,
 926493512,
 2923309905,
 387959636,
 799304536,
 3889425240,
 1458064219,
 326167388,
 3753405277,
 3106327392,
 3547556705,
 1785727846,
 1635543910,
 1610910566,
 3043584872,
 3138243432,
 2706869106,
 2505747315,
 3852233591,
 1707387767,
 3228527479,
 185076602,
 4043811708,
 4095953790,
 1531964288,
 1220299649,
 2032921473,
 2144349060,
 3301100420,
 1113262983,
 1379732359,
 1900653459,
 2051918742,
 1597533086,
 1292037022,
 726494121,
 429026219,
 2853694379,
 1722043310,
 3698928563,
 3897478068,
 1224199093,
 7678908,
 50154437,
 3056544713,
 3682806729,
 3719121865,
 2485734347,
 ...}

In [29]:
len(set(counter2_eval.counter.keys()) - set(counter2_train.counter.keys()))

2808

In [30]:
counter2.save('../input/all/context_vids.txt')

total_count 97147343 unknown_count 0 total_word 165527

In [31]:
counter2_train.save('../input/train/context_vids.txt')

total_count 91595511 unknown_count 0 total_word 162719

In [32]:
counter2_eval.save('../input/eval/context_vids.txt')

total_count 5551832 unknown_count 0 total_word 42815

In [129]:
couter_prev.save('../input/all/prev_vids.txt')

total_count 0 unknown_count 0 total_word 0

In [140]:
len(counter.counter)

416104

In [141]:
for vid, count in counter2.counter.items():
  counter.add(vid, count)
for vid, count in counter_prev.counter.items():
  counter.add(vid, count)

In [142]:
len(counter.counter)

456740

In [143]:
counter.save('../input/all/vids.txt')
counter.save('../input/all/vid.txt')

total_count 223193581 unknown_count 0 total_word 456740
total_count 223193581 unknown_count 0 total_word 456740

In [37]:
for vid, count in counter2_train.counter.items():
  counter_train.add(vid, count)

In [38]:
counter_train.save('../input/train/vids.txt')

total_count 184188061 unknown_count 0 total_word 441562

In [39]:
for vid, count in counter2_eval.counter.items():
  counter_eval.add(vid, count)

In [40]:
counter_eval.save('../input/eval/vids.txt')

total_count 11561322 unknown_count 0 total_word 168983

# stats

In [43]:
watch_vids = gezi.Vocab('../input/all/watch_vids.txt')

In [44]:
context_vids = gezi.Vocab('../input/all/context_vids.txt')

In [49]:
w_vids = set(watch_vids.reverse_vocab)

In [50]:
c_vids = set(context_vids.reverse_vocab)

In [52]:
len(w_vids & c_vids)

130634

In [53]:
len(w_vids & c_vids) / len(c_vids)

0.7891910178881042

In [54]:
len(w_vids & c_vids) / len(w_vids)

0.31394404310440127

In [55]:
# item table

In [97]:
dis = []
for k in tqdm(range(30)):
  d = gezi.read_parquet(f'../input/train/part_{k + 1}/item.parquet')
  d['day'] = k + 1
  dis += [d]
d = gezi.read_parquet('../input/eval/item.parquet')
d['day'] = 31
dis += [d]
di = pd.concat(dis)

100%|██████████| 30/30 [00:01<00:00, 24.66it/s]

In [70]:
len(set(di.vid))

178289

In [71]:
len(w_vids | c_vids)

451001

In [78]:
374341640 in c_vids

False

In [79]:
context_vids.id(374341640)

118151

In [81]:
set(di.vid.astype(str)) - (w_vids | c_vids)

{'2266392562',
 '3330812104',
 '2813697292',
 '3751447291',
 '3643331691',
 '3841242191',
 '3332128870',
 '751234477',
 '2624366093',
 '778086537',
 '1393038607',
 '113396284',
 '2453170317',
 '16735862',
 '1714382164',
 '627777174',
 '3699306564',
 '1857430398',
 '2326029917',
 '847759064',
 '3602480831',
 '3789409519',
 '2216185110',
 '1032019024',
 '3655027101',
 '188572703',
 '2770061996',
 '819698417',
 '764917742',
 '3147028572',
 '2555359178',
 '4288477297',
 '3838406812',
 '3734279687',
 '1423500783',
 '2513824708',
 '2981496402',
 '3690183844',
 '837806449',
 '836009404',
 '3596968543',
 '3137985438',
 '1818442475',
 '2466519208',
 '3049346748',
 '3568437086',
 '3002601756',
 '1321403003',
 '3031944942',
 '1188542472',
 '2579173855',
 '4062141563',
 '2111650072',
 '3077420726',
 '2188713408',
 '1684990227',
 '1536143773',
 '1334855671',
 '250315204',
 '511482848',
 '4115899054',
 '411595233',
 '1590389375',
 '2643411793',
 '3524865120',
 '488209540',
 '1545231723',
 '3612610324',
 '5439682',
 '2498959745',
 '927783946',
 '43492427',
 '3966209255',
 '4056250971',
 '1491892159',
 '2443513863',
 '2535049775',
 '3343282879',
 '249277874',
 '3314719851',
 '2190134379',
 '4036898926',
 '3699397396',
 '1539511872',
 '1368201173',
 '3225656601',
 '1006281687',
 '76469299',
 '602793507',
 '1079718817',
 '4287357550',
 '414087730',
 '1804867264',
 '909164054',
 '3457421461',
 '3605324473',
 '2109125899',
 '1354670784',
 '694565631',
 '3343965264',
 '3760459957',
 '3566763226',
 '321358693',
 '1990796708',
 '1262927279',
 '235901555',
 '2480875682',
 '3678901489',
 '1584165971',
 '2343611069',
 '1873723936',
 '1970165328',
 '429182361',
 '3162670680',
 '3134521349',
 '121398254',
 '1414022110',
 '2966173951',
 '3820548067',
 '1736779651',
 '1981592809',
 '976095692',
 '704819828',
 '2951173878',
 '201913439',
 '1738339438',
 '2254977265',
 '3069907393',
 '3860325313',
 '844495637',
 '3782847862',
 '2972352951',
 '4071076402',
 '6341769',
 '2114770197',
 '380323541',
 '1764034431',
 '3503739980',
 '2528545491',
 '715220959',
 '207859120',
 '3680019315',
 '598656659',
 '2127857352',
 '1402369557',
 '2259354101',
 '880214956',
 '2036835447',
 '855764067',
 '4087761912',
 '1010633062',
 '280949169',
 '3686134164',
 '2889546379',
 '2747160971',
 '3308528704',
 '1003126828',
 '2040001323',
 '2931581250',
 '3592368418',
 '2481018588',
 '2563883517',
 '1635103665',
 '3803439178',
 '1868207883',
 '766802358',
 '3438027110',
 '2176494572',
 '150149201',
 '2920232200',
 '2314209284',
 '2945322420',
 '248183743',
 '612647331',
 '749240311',
 '1537988390',
 '1724428347',
 '96396493',
 '687552593',
 '3568700175',
 '3198115171',
 '479146490',
 '4012596533',
 '1519016251',
 '3732649680',
 '417219977',
 '988024082',
 '3875662658',
 '2742720054',
 '2972500222',
 '4139252252',
 '3582737104',
 '1818441711',
 '206815242',
 '953685804',
 '1853588265',
 '3625950150',
 '2055107248',
 '1347984962',
 '949818510',
 '2961419288',
 '15929127',
 '1508583114',
 '4217780983',
 '741218525',
 '3224303490',
 '517090349',
 '2140561562',
 '5747771',
 '3004719387',
 '2461326222',
 '3844685728',
 '4218165467',
 '155873959',
 '2024023141',
 '23739533',
 '687985978',
 '923907436',
 '1380005319',
 '4090535388',
 '259122069',
 '29053322',
 '1684072048',
 '786075682',
 '3665591609',
 '1207557961',
 '1800644035',
 '556858855',
 '3857689877',
 '637419873',
 '4222838230',
 '371579376',
 '3691756948',
 '280311473',
 '1048208179',
 '737850590',
 '2776095917',
 '4140716472',
 '3600597634',
 '1964356489',
 '580556939',
 '3421128916',
 '1989744530',
 '2580029474',
 '3503597397',
 '4106688858',
 '2063026664',
 '2770045718',
 '3508719712',
 '3335071172',
 '2449300026',
 '1606844968',
 '3193715554',
 '4058329397',
 '2444228963',
 '233903644',
 '2584263649',
 '2438454515',
 '2880523792',
 '3335926099',
 '2402834069',
 '3961408458',
 '742346261',
 '2188910574',
 '278012859',
 '3176499962',
 '1455033714',
 '1486597465',
 '3734766029',
 '1603029864',
 '1842791458',
 '1108191006',
 '3256144596',
 '3758526069',
 '3815915003',
 '238699836',
 '1640592355',
 '594329714',
 '1334280148',
 '3002273271',
 '1715221152',
 '2671316530',
 '3545158035',
 '653658413',
 '1720618676',
 '2183682299',
 '3119423862',
 '2967032385',
 '593512996',
 '2921199723',
 '4016477612',
 '4287679306',
 '4261656558',
 '2225088872',
 '2100443514',
 '3311981715',
 '116933845',
 '3554861408',
 '1126469504',
 '2780570080',
 '4135458883',
 '1885997510',
 '2553271550',
 '2892939995',
 '4269734817',
 '3007705421',
 '182640951',
 '908086977',
 '3177575641',
 '2081029819',
 '256614533',
 '4273857389',
 '2128931274',
 '3776269886',
 '1526627048',
 '1407562726',
 '3886231691',
 '1426372562',
 '2813048618',
 '3652006930',
 '3636693087',
 '748353814',
 '498492264',
 '2024311949',
 '2383081004',
 '1080246529',
 '4020936460',
 '3014902869',
 '3154712528',
 '310729863',
 '1600638385',
 '77083712',
 '1267997312',
 '3780201835',
 '132643259',
 '2923382115',
 '1045231719',
 '3240409603',
 '471042137',
 '706328940',
 '3575974075',
 '3794312934',
 '4030881459',
 '3429241976',
 '3170982026',
 '705270199',
 '3963711133',
 '1456731045',
 '1027199484',
 '3239345712',
 '697043753',
 '622985411',
 '2770589501',
 '4071236800',
 '1416917011',
 '76122115',
 '1037360444',
 '4134966003',
 '3884266709',
 '3067916026',
 '2294137785',
 '3056901795',
 '1609099067',
 '1368306208',
 '2616292410',
 '3105186294',
 '3319559231',
 '953586446',
 '668125912',
 '3177163027',
 '3390389248',
 '3863370847',
 '2424897223',
 '3553342652',
 '1779729440',
 '3736057687',
 '2587307771',
 '1301235879',
 '1063903307',
 '1783190774',
 '2972952029',
 '3248228201',
 '826853140',
 '4232263954',
 '308171123',
 '1497993295',
 '3468797280',
 '2139132727',
 '1973387243',
 '3278940809',
 '2765175197',
 '2510426576',
 '1226967652',
 '2075253948',
 '1819228228',
 '781350652',
 '1423611394',
 '856871972',
 '3588285822',
 '4170603498',
 '269939671',
 '3065852649',
 '4285966247',
 '3128237384',
 '3607597185',
 '3488463954',
 '179014961',
 '637188783',
 '1408078670',
 '1667628076',
 '1513605312',
 '3149004105',
 '2291574691',
 '1742212371',
 '1234057645',
 '1742945634',
 '1065137848',
 '837705421',
 '1071411912',
 '1371718154',
 '1344904432',
 '839722033',
 '2319382389',
 '4128654047',
 '1536365089',
 '865686986',
 '3089550267',
 '702434892',
 '3578776057',
 '1838028696',
 '345171043',
 '2643636597',
 '2207223483',
 '734000417',
 '4044124190',
 '1302656152',
 '3868185575',
 '2124771305',
 '585865414',
 '3693874252',
 '1268706844',
 '28361754',
 '3342965522',
 '2583558227',
 '3956894227',
 '894673646',
 '3881296844',
 '3194999495',
 '418949539',
 '3953947723',
 '1267865325',
 '1060870745',
 '2960621210',
 '2843809339',
 '1308721833',
 '722275',
 '2976593366',
 '4274367822',
 '2799247009',
 '3770853399',
 '1576899879',
 '3319682771',
 '507519335',
 '2881564564',
 '700501549',
 '3312262858',
 '1293672271',
 '3214924034',
 '284942219',
 '3829483808',
 '2437514374',
 '515215441',
 '1135993789',
 '3059158920',
 '116866037',
 '2557869244',
 '842461032',
 '1956420223',
 '1683027657',
 '6103108',
 '1673903204',
 '4065204685',
 '1166313665',
 '1073004365',
 '429900762',
 '1622002844',
 '2519520423',
 '1002657854',
 '33558422',
 '1634584933',
 '2530967879',
 '1809213780',
 '4158547394',
 '2884758166',
 '1848838331',
 '3125096318',
 '4116955484',
 '3150679876',
 '2551447758',
 '2103459569',
 '2305818372',
 '4043223905',
 '3814402437',
 '2666008846',
 '2944853885',
 '2073444687',
 '3628110123',
 '2776203912',
 '4266696834',
 '1320645385',
 '489745602',
 '2001296352',
 '2399217172',
 '388182548',
 '1174036944',
 '116026460',
 '2439542096',
 '3069880224',
 '3780225723',
 '2434495882',
 '3239522196',
 '2305706801',
 '3132878428',
 '3726997566',
 '3978447119',
 '2986703878',
 '861006326',
 '2581875679',
 '2012831421',
 '2243864450',
 '187967430',
 '3869558437',
 '4016347948',
 '4208861145',
 '3653478892',
 '1527542656',
 '668532737',
 '1177571481',
 '1061792007',
 '429838885',
 '2277718533',
 '3223184611',
 '83386880',
 '734119643',
 '192694124',
 '675880041',
 '1394906864',
 '2784285964',
 '594619557',
 '920261899',
 '2439900592',
 '2189540605',
 '3134811356',
 '998245655',
 '2277317040',
 '3975659494',
 '1072981916',
 '1807268179',
 '11717465',
 '623691248',
 '1752676927',
 '983026521',
 '666896602',
 '2825954465',
 '601768159',
 '3842817205',
 '1626637971',
 '3918153485',
 '2326577517',
 '2634574730',
 '4078216961',
 '2271908374',
 '1237177327',
 '1420982886',
 '3773004305',
 '579051335',
 '3467105187',
 '1194092472',
 '3969342649',
 '3937055287',
 '2083980969',
 '1144617332',
 '978423991',
 '399243645',
 '238110229',
 '982346292',
 '2035433283',
 '4255026910',
 '4005699814',
 '845627929',
 '2254933839',
 '2291528787',
 '300249728',
 '132032934',
 '497143908',
 '3334251373',
 '3672221798',
 '3094354344',
 '2226226728',
 '2931305797',
 '2551359660',
 '3924089297',
 '4222642016',
 '1954555260',
 '2001886692',
 '3655335518',
 '3162483837',
 '3088513975',
 '1755979998',
 '2676438887',
 '3290390363',
 '2476750246',
 '3801370322',
 '1909744020',
 '1835130575',
 '381417476',
 '2979179223',
 '2456231831',
 '1531072624',
 '2108500379',
 '1483412125',
 '2131561968',
 '1286168654',
 '545580595',
 '3606308582',
 '287546818',
 '879557818',
 '426324782',
 '4166074508',
 '2851974376',
 '3198266238',
 '481262291',
 '1596093508',
 '2599060756',
 '4043239740',
 '4027295345',
 '4247513054',
 '1427199483',
 '1844575491',
 '2416775276',
 '1397744012',
 '1771809538',
 '4113223735',
 '435809121',
 '1475211306',
 '3737340652',
 '4084649327',
 '1550506766',
 '1466707367',
 '4225186902',
 '1264615231',
 '3190526730',
 '2176672477',
 '1688387735',
 '2235072766',
 '954608143',
 '2500258540',
 '1451209698',
 '2693214931',
 '2908418590',
 '2389065074',
 '286787855',
 '3705978358',
 '3498954403',
 '960623339',
 '953098828',
 '1554450992',
 '2380496888',
 '3947252097',
 '1457084520',
 '1104124472',
 '556138604',
 '1871725925',
 '3437423098',
 '1945313390',
 '4054238960',
 '389066935',
 '2339366523',
 '1611602079',
 '2202449054',
 '622115308',
 '3395044329',
 '688868474',
 '3030894930',
 '2150449214',
 '3517725836',
 '2799120454',
 '848666274',
 '1658659575',
 '4084026926',
 '1096838228',
 '2172132036',
 '1781057384',
 '1191625768',
 '813196165',
 '381077699',
 '4004407140',
 '1367411711',
 '3486216527',
 '4290047456',
 '2770427098',
 '1265380792',
 '3200098426',
 '3325999923',
 '1608934169',
 '3388357501',
 '1521725285',
 '546391903',
 '1438013239',
 '2080118559',
 '2999572171',
 '3686679790',
 '4200146788',
 '2498766144',
 '2477636832',
 '2613847402',
 '1590714515',
 '186824437',
 '1185544705',
 '2946914192',
 '433333604',
 '4288758093',
 '1473840805',
 '3990028682',
 '2971181830',
 '2936259026',
 '114661940',
 '1989280768',
 '1339079933',
 '2499456246',
 '648552984',
 '3219240243',
 '219210331',
 '1971402301',
 '2305467323',
 '667959026',
 '2455777070',
 '2287081512',
 '1075246135',
 '2860974329',
 '2698109885',
 '2070601018',
 '3516266937',
 '3795019926',
 '2803320319',
 '3888684355',
 '2027651084',
 '4233733379',
 '753036464',
 '2653352678',
 '1786017320',
 '761913114',
 '3226665090',
 '952401085',
 '3135760853',
 '3582527914',
 '910575987',
 '1373044811',
 '4003303927',
 '1410054338',
 '495883925',
 '2081864057',
 '248158109',
 '3067719301',
 '229510460',
 '3951138292',
 '2508381561',
 '3262112602',
 '2080677666',
 '1946090316',
 '886891889',
 '447638789',
 '1552004855',
 '1954749102',
 '947179714',
 '3932212080',
 '3580000500',
 '868171746',
 '1091284158',
 '3534256901',
 '1071294251',
 '3073787242',
 '1072022899',
 '745728960',
 '1811246575',
 '903380952',
 '294232739',
 '2875442931',
 '712328446',
 '1317220402',
 '3870868359',
 '3777703798',
 '1478940951',
 '2800970743',
 '321401311',
 '1559181371',
 '2112536247',
 '3027498808',
 '530769123',
 '2406715880',
 '1867020620',
 '4109869446',
 '2203990103',
 '1750100764',
 '4222096010',
 '2189679753',
 '4231243',
 '140645731',
 '599136507',
 '3888862629',
 '3961613133',
 '2695980030',
 '2620890506',
 '97315437',
 '3145458819',
 '33331585',
 '1249602250',
 '4051448463',
 '1979345006',
 '2207350050',
 '2247582007',
 '1984155026',
 '3899927682',
 '3573562751',
 '1376988243',
 '2839402939',
 '3621410518',
 '1708599152',
 '2516662230',
 '3173448674',
 '3570345099',
 '3826072475',
 '756496139',
 '997331292',
 '579613766',
 '1082841003',
 '1914762593',
 '1636295802',
 '503251132',
 '4164280221',
 '282846786',
 '4112511941',
 '671048975',
 '3470072525',
 '1377937871',
 '1626997425',
 '2314011375',
 '3476672515',
 '651294948',
 '1675872447',
 '1434989737',
 '49111100',
 '1761337860',
 '7804798',
 '4165316113',
 '1510621921',
 '2279331696',
 '1568448384',
 '3626694857',
 '4152322939',
 '520334141',
 '3032090653',
 '3221598280',
 '3229661908',
 '2370010231',
 '4042163365',
 '3809606932',
 '526773662',
 '3034480378',
 '1204557805',
 '2746097829',
 '1327837719',
 '161685627',
 '3993415739',
 '1180163205',
 '3312929579',
 '3608045583',
 '2433580070',
 '2553331597',
 '2610319774',
 '94273962',
 '3152219775',
 '2842449792',
 '3996069217',
 '2194995937',
 '1666537014',
 '3233689549',
 '4280278180',
 '2359820713',
 '2627106564',
 '3529339321',
 '2711439458',
 '7650607',
 '962513328',
 '4264450088',
 '590877617',
 '2539093298',
 '3038626077',
 '876572162',
 '3585435946',
 '3348856044',
 '997732311',
 '2780258343',
 '3349490858',
 '2600131792',
 '2925425414',
 '1825714208',
 '2217655054',
 '2098204738',
 '1469361971',
 '1361253963',
 '658576220',
 '2469338924',
 '3268054903',
 '4086055643',
 '1821686596',
 '1955942387',
 '1406470690',
 '3822250770',
 '754808746',
 '2996825390',
 '1073838335',
 '1475617102',
 '3824672570',
 '625660452',
 '323175809',
 '2122064771',
 '2755579377',
 '124742505',
 '275530924',
 '3815732539',
 '2167941517',
 '2664293234',
 '3271309450',
 '4089650961',
 '3210773083',
 '3840654548',
 '4052251798',
 '233236780',
 '1009344678',
 '1417440372',
 '612343419',
 '269524653',
 '4308623',
 '1948272274',
 '2494246923',
 '260460989',
 '956051779',
 '3601609885',
 '3022092626',
 '3382294416',
 '135047208',
 '3905029652',
 '628043410',
 '1303643282',
 '2234004037',
 '3250489987',
 '2531820096',
 '2583860971',
 '3421337149',
 '2160847475',
 '978960876',
 '2847194890',
 '1496844445',
 '1577537686',
 '3736069236',
 '2299219223',
 '1074442587',
 '3656950883',
 '2091006902',
 '3457355039',
 '655581125',
 '898509169',
 '793637033',
 '1533313883',
 '1503646507',
 '562275918',
 '1779619977',
 '2270543611',
 '3788408903',
 '643844169',
 '1152471830',
 '4211757532',
 '1896353198',
 '2333424895',
 '204846816',
 '565057386',
 '2199757766',
 '1863088771',
 '184247196',
 '4063038491',
 '3600149527',
 '1355329879',
 '2065070670',
 '2223491926',
 '907435441',
 '1315015091',
 '2370902129',
 '509885253',
 '106623568',
 ...}

In [83]:
len(set(di.vid.astype(str)) - (w_vids | c_vids))

5783

In [73]:
di[di.vid==374341640]

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv,day
42261,374341640,58,1311081178,"[1727103792, 577373787, 225086817, 2882497719,...",3238133344,1820266297,3172394293,0,151.509995,0.0,4.0,30
42843,374341640,58,1311081178,"[1727103792, 577373787, 225086817, 2882497719,...",3238133344,1820266297,3172394293,0,151.509995,0.0,4.0,30
45730,374341640,58,1311081178,"[1727103792, 577373787, 225086817, 2882497719,...",3238133344,1820266297,3172394293,0,151.509995,0.0,0.0,30
42988,374341640,58,1311081178,"[1727103792, 577373787, 225086817, 2882497719,...",3238133344,1820266297,3172394293,0,151.509995,0.0,0.0,30
44226,374341640,58,1311081178,"[1727103792, 577373787, 225086817, 2882497719,...",3238133344,1820266297,3172394293,0,151.509995,0.0,0.0,30
38866,374341640,58,1311081178,"[1727103792, 577373787, 225086817, 2882497719,...",3238133344,1820266297,3172394293,0,151.509995,0.0,4.0,30
36001,374341640,58,1311081178,"[1727103792, 577373787, 225086817, 2882497719,...",3238133344,1820266297,3172394293,0,151.509995,0.0,52.0,30
47334,374341640,58,1311081178,"[1727103792, 577373787, 225086817, 2882497719,...",3238133344,1820266297,3172394293,0,151.509995,0.0,84.0,31

In [75]:
dis[-2]

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv,day
0,15819492,98,1407204002,"[2950753864, 3600550670, 3606342894, 333836411...",638675564,1413776458,2234347078,0,6954.200195,0.0725,1996.0,30
1,38297769,112,1425690005,"[3115812425, 2144664037, 1221620183, 325915182...",2168442617,1413776458,472867291,0,42.509998,0.0000,5832.0,30
2,68075555,54,1370912171,[1688233050],243169446,2993616479,2234347078,0,292.119995,0.0000,4.0,30
3,72551649,28,1412650983,[],196493883,3174145329,2234347078,0,882.900024,0.0000,212.0,30
4,73710072,60,1397102895,"[2160407336, 3745672243, 325393889, 3169431763]",2056941596,1413776458,3172394293,0,25.070000,0.0000,56.0,30
...,...,...,...,...,...,...,...,...,...,...,...,...
42944,4248901384,21,1422849565,"[3902504787, 1235418045, 3804658193]",4074303298,1820266297,2234347078,0,1387.569946,0.0000,5388.0,30
42945,4255628613,33,1413545288,[1134598214],1016220003,1820266297,2234347078,0,35.970001,0.0000,440.0,30
42946,4272496705,80,1387029762,"[3309131045, 2561243119, 184102567, 2880021111...",435329116,1820266297,472867291,0,115.540001,0.0000,104.0,30
42947,4283547666,58,1424684908,"[2142910698, 1316768238, 1853987563, 1984414365]",2753664459,470292959,2234347078,0,154.779999,0.0600,12628.0,30
42948,4283640696,81,1367676865,"[2255039294, 3696039767, 1984414365, 193682327...",2553585254,1413776458,3172394293,0,78.480003,0.0000,4036.0,30

In [77]:
dis[-2][dis[-2].vid==4283640696]

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv,day
42948,4283640696,81,1367676865,"[2255039294, 3696039767, 1984414365, 193682327...",2553585254,1413776458,3172394293,0,78.480003,0.0,4036.0,30

In [98]:
di[di.vid==2266392562]

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv,day
646,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,4.0,5
671,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,4.0,6
681,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,4.0,9
647,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,4.0,10
666,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,20.0,14
639,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,20.0,15
663,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,28.0,16
664,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,20.0,17
606,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,16.0,19
634,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,16.0,21
638,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,12.0,22
633,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,12.0,23
595,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,4.0,24
608,2266392562,98,1407133621,[1439965405],274189731,1413776458,3172394293,0,113.360001,0.0,4.0,25

In [101]:
dcs = []
for k in tqdm(range(30)):
  d = gezi.read_parquet(f'../input/train/part_{k + 1}/context.parquet')
  d['day'] = k + 1
  dcs += [d]
d = gezi.read_parquet('../input/eval/context.parquet')
d['day'] = 31
dcs += [d]
dc = pd.concat(dcs)

100%|██████████| 30/30 [00:35<00:00,  1.17s/it]

In [104]:
dcs[4][dcs[4].vid==2266392562]

Empty DataFrame
Columns: [label, mod, mf, aver, sver, did, vid, prev, region, timestamp, index, day]
Index: []

In [103]:
dcs[4]

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index,day
0,0,07c54d4eecfcccbb0503f4cc6b672741,fce8cc8ce0587de13c3fecbc13537746,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,5bd64e004403c21759fd4c5158e2bc04,1178034636,0,2214269418,1424707504,0,5
1,0,07c54d4eecfcccbb0503f4cc6b672741,fce8cc8ce0587de13c3fecbc13537746,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,5bd64e004403c21759fd4c5158e2bc04,683624456,2206654179,2214269418,1424707518,1,5
2,0,07c54d4eecfcccbb0503f4cc6b672741,fce8cc8ce0587de13c3fecbc13537746,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,5bd64e004403c21759fd4c5158e2bc04,1722812506,0,2214269418,1424707500,2,5
3,0,07c54d4eecfcccbb0503f4cc6b672741,fce8cc8ce0587de13c3fecbc13537746,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,5bd64e004403c21759fd4c5158e2bc04,3906883287,2115682546,2214269418,1424707472,3,5
4,0,07c54d4eecfcccbb0503f4cc6b672741,fce8cc8ce0587de13c3fecbc13537746,183e022fe835e248ec27774c2687e312,21032c3a66d86aa1d99127d4b97cb548,5bd64e004403c21759fd4c5158e2bc04,4250365497,1256605048,2214269418,1424707472,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
2899564,0,f08b7032cfeef709893972061e8d6523,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,ac395365e055822bed2ae6a90434522f,3216385467,0,2092618678,1424756088,2899564,5
2899565,1,f08b7032cfeef709893972061e8d6523,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,ac395365e055822bed2ae6a90434522f,2254133490,0,2092618678,1424756172,2899565,5
2899566,0,f08b7032cfeef709893972061e8d6523,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,ac395365e055822bed2ae6a90434522f,3039103562,0,2092618678,1424756088,2899566,5
2899567,0,f08b7032cfeef709893972061e8d6523,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,ac395365e055822bed2ae6a90434522f,3354895296,0,2092618678,1424756088,2899567,5
2899568,0,f08b7032cfeef709893972061e8d6523,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,ac395365e055822bed2ae6a90434522f,4023224749,0,2092618678,1424756088,2899568,5

In [115]:
dcs[4].tail(100)

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index,day
2899469,0,282c3907fb9fa42293f03eee420adbbb,9de1665e6430fa58785027dbf9ab53e0,fd9fc9f0b92891044d964d352169e497,95f0d16099fcfd8dab74600e61279f78,623faac730444c2a424e3165aa336c2e,2593433598,4114165057,1189422992,1424781854,2899469,5
2899470,0,282c3907fb9fa42293f03eee420adbbb,9de1665e6430fa58785027dbf9ab53e0,fd9fc9f0b92891044d964d352169e497,95f0d16099fcfd8dab74600e61279f78,623faac730444c2a424e3165aa336c2e,273467815,0,1189422992,1424746181,2899470,5
2899471,0,282c3907fb9fa42293f03eee420adbbb,9de1665e6430fa58785027dbf9ab53e0,fd9fc9f0b92891044d964d352169e497,95f0d16099fcfd8dab74600e61279f78,623faac730444c2a424e3165aa336c2e,997539952,1202296985,1189422992,1424746162,2899471,5
2899472,0,282c3907fb9fa42293f03eee420adbbb,9de1665e6430fa58785027dbf9ab53e0,fd9fc9f0b92891044d964d352169e497,95f0d16099fcfd8dab74600e61279f78,623faac730444c2a424e3165aa336c2e,1438669718,3097904224,1189422992,1424746182,2899472,5
2899473,0,282c3907fb9fa42293f03eee420adbbb,9de1665e6430fa58785027dbf9ab53e0,fd9fc9f0b92891044d964d352169e497,95f0d16099fcfd8dab74600e61279f78,623faac730444c2a424e3165aa336c2e,2215339506,0,1189422992,1424742138,2899473,5
...,...,...,...,...,...,...,...,...,...,...,...,...
2899564,0,f08b7032cfeef709893972061e8d6523,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,ac395365e055822bed2ae6a90434522f,3216385467,0,2092618678,1424756088,2899564,5
2899565,1,f08b7032cfeef709893972061e8d6523,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,ac395365e055822bed2ae6a90434522f,2254133490,0,2092618678,1424756172,2899565,5
2899566,0,f08b7032cfeef709893972061e8d6523,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,ac395365e055822bed2ae6a90434522f,3039103562,0,2092618678,1424756088,2899566,5
2899567,0,f08b7032cfeef709893972061e8d6523,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,ac395365e055822bed2ae6a90434522f,3354895296,0,2092618678,1424756088,2899567,5
2899568,0,f08b7032cfeef709893972061e8d6523,9de1665e6430fa58785027dbf9ab53e0,fb1ec50d3ce5505057f763c49d503b5a,ba195dd85894d6957bc61edca5ac7026,ac395365e055822bed2ae6a90434522f,4023224749,0,2092618678,1424756088,2899568,5

In [119]:
di[di.vid==997539952].head()

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv,day
22287,997539952,30,1424606111,"[1968054038, 1268406585, 3527018506, 57973250,...",2880934939,1820266297,2234347078,0,2340.22998,0.0000,0.0,3
21358,997539952,30,1424606111,"[1968054038, 1268406585, 3527018506, 57973250,...",2880934939,1820266297,2234347078,0,2340.22998,0.0000,0.0,4
21671,997539952,30,1424606111,"[1968054038, 1268406585, 3527018506, 57973250,...",2880934939,1820266297,2234347078,0,2340.22998,0.1250,1876696.0,5
22233,997539952,30,1424606111,"[1968054038, 1268406585, 3527018506, 57973250,...",2880934939,1820266297,2234347078,0,2340.22998,0.1200,4926160.0,6
22124,997539952,30,1424606111,"[1968054038, 1268406585, 3527018506, 57973250,...",2880934939,1820266297,2234347078,0,2340.22998,0.1175,6309892.0,7

In [120]:
di[di.vid==1202296985].head()

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv,day
5111,1202296985,90,1424087709,"[1968054038, 1268406585, 3527018506, 57973250,...",2880934939,1820266297,472867291,0,63.220001,0.0675,3212132.0,1
4975,1202296985,90,1424087709,"[1968054038, 1268406585, 3527018506, 57973250,...",2880934939,1820266297,472867291,0,63.220001,0.0575,3861484.0,2
4769,1202296985,90,1424087709,"[1968054038, 1268406585, 3527018506, 57973250,...",2880934939,1820266297,472867291,0,63.220001,0.0500,4394960.0,3
4576,1202296985,90,1424087709,"[1968054038, 1268406585, 3527018506, 57973250,...",2880934939,1820266297,472867291,0,63.220001,0.0550,4903156.0,4
4686,1202296985,90,1424087709,"[1968054038, 1268406585, 3527018506, 57973250,...",2880934939,1820266297,472867291,0,63.220001,0.0475,4069376.0,5

In [105]:
dcs[4][dcs[4].prev==2266392562]

,label,mod,mf,aver,sver,did,vid,prev,region,timestamp,index,day
2787092,0,8d2efe1ce7b6015a159702a906b4800c,9de1665e6430fa58785027dbf9ab53e0,183e022fe835e248ec27774c2687e312,e49dc1e8e576ff35a07e1182f4e98c91,0aae1169c8d33d540e41984e1e9703de,2178715915,2266392562,613774136,1424783285,2787092,5

In [108]:
di[di.vid==683624456].head()

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv,day
37174,683624456,50,1361505261,"[3918807355, 2105234759, 1704846244, 179524530...",3302403079,1413776458,2234347078,0,3914.189941,0.0725,20580.0,1
36159,683624456,50,1361505261,"[3918807355, 2105234759, 1704846244, 179524530...",3302403079,1413776458,2234347078,0,3914.189941,0.0825,20476.0,2
34711,683624456,50,1361505261,"[3918807355, 2105234759, 1704846244, 179524530...",3302403079,1413776458,2234347078,0,3914.189941,0.0925,19456.0,3
33119,683624456,50,1361505261,"[3918807355, 2105234759, 1704846244, 179524530...",3302403079,1413776458,2234347078,0,3914.189941,0.0925,20740.0,4
33669,683624456,50,1361505261,"[3918807355, 2105234759, 1704846244, 179524530...",3302403079,1413776458,2234347078,0,3914.189941,0.0900,22108.0,5

In [109]:
di[di.vid==2206654179].head()

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv,day
20327,2206654179,101,1361410740,"[697164268, 2105234759, 3647308832, 1092821632...",3302403079,1413776458,472867291,0,77.389999,0.0,1632.0,1
19734,2206654179,101,1361410740,"[697164268, 2105234759, 3647308832, 1092821632...",3302403079,1413776458,472867291,0,77.389999,0.0,2072.0,2
18947,2206654179,101,1361410740,"[697164268, 2105234759, 3647308832, 1092821632...",3302403079,1413776458,472867291,0,77.389999,0.0,2672.0,3
18139,2206654179,101,1361410740,"[697164268, 2105234759, 3647308832, 1092821632...",3302403079,1413776458,472867291,0,77.389999,0.0,3208.0,4
18448,2206654179,101,1361410740,"[697164268, 2105234759, 3647308832, 1092821632...",3302403079,1413776458,472867291,0,77.389999,0.0,3536.0,5

In [112]:
di[di.vid==4250365497].head()

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv,day
57447,4250365497,110,1397360741,"[2875188848, 1443431957, 2834403402, 393660770...",527267373,1413776458,2234347078,0,2847.080078,0.1050,65656.0,1
56083,4250365497,110,1397360741,"[2875188848, 1443431957, 2834403402, 393660770...",527267373,1413776458,2234347078,0,2847.080078,0.1075,67056.0,2
53938,4250365497,110,1397360741,"[2875188848, 1443431957, 2834403402, 393660770...",527267373,1413776458,2234347078,0,2847.080078,0.1100,72664.0,3
51331,4250365497,110,1397360741,"[2875188848, 1443431957, 2834403402, 393660770...",527267373,1413776458,2234347078,0,2847.080078,0.1150,76476.0,4
52182,4250365497,110,1397360741,"[2875188848, 1443431957, 2834403402, 393660770...",527267373,1413776458,2234347078,0,2847.080078,0.1150,85788.0,5

In [113]:
di[di.vid==1256605048].head()

,vid,title_length,timestamp,stars,cid,class_id,is_intact,second_class,duration,ctr,vv,day
39286,1256605048,87,1397749133,"[2875188848, 2131366248, 3936607703, 144343195...",527267373,1413776458,472867291,0,77.389999,0.0625,54732.0,1
38261,1256605048,87,1397749133,"[2875188848, 2131366248, 3936607703, 144343195...",527267373,1413776458,472867291,0,77.389999,0.0275,55688.0,2
36722,1256605048,87,1397749133,"[2875188848, 2131366248, 3936607703, 144343195...",527267373,1413776458,472867291,0,77.389999,0.0225,63432.0,3
35039,1256605048,87,1397749133,"[2875188848, 2131366248, 3936607703, 144343195...",527267373,1413776458,472867291,0,77.389999,0.0150,64156.0,4
35598,1256605048,87,1397749133,"[2875188848, 2131366248, 3936607703, 144343195...",527267373,1413776458,472867291,0,77.389999,0.0175,65724.0,5

In [110]:
dc[dc.prev==2266392562]

,aver,day,did,index,label,mf,mod,prev,region,sver,timestamp,vid
2787092,183e022fe835e248ec27774c2687e312,5,0aae1169c8d33d540e41984e1e9703de,2787092,0.0,9de1665e6430fa58785027dbf9ab53e0,8d2efe1ce7b6015a159702a906b4800c,2266392562,613774136,e49dc1e8e576ff35a07e1182f4e98c91,1424783285,2178715915
2683339,e452a790a877bea65da21f6dbe9d9265,6,fe8c673aa7be5d6dce8b1c294bcb83ea,2683339,0.0,932a5cc56763396c6b205a63868d6316,670f6fc0013eb09e298bd84cf68e552d,2266392562,2092618678,e49dc1e8e576ff35a07e1182f4e98c91,1424830736,2178715915
1219527,183e022fe835e248ec27774c2687e312,9,7f778ecc8932b09963f5bae5c801e38c,1219527,0.0,932a5cc56763396c6b205a63868d6316,3cb768c0a171d3c6f7279c71b0cb12df,2266392562,1196749989,77174f814122a113d1d4321b25c6f899,1425137888,2178715915
1499494,8a30ae7b3ec823c36539b1dc59882fd8,9,8a0b87dcbfe8aa6ee7beaf6f7bde28e6,1499494,0.0,9de1665e6430fa58785027dbf9ab53e0,953a23da729356b911210b6f482921cd,2266392562,2247014434,e49dc1e8e576ff35a07e1182f4e98c91,1425055651,2178715915
1702524,8a30ae7b3ec823c36539b1dc59882fd8,10,53284ada02ba2725b4759725eabc9481,1702524,0.0,9de1665e6430fa58785027dbf9ab53e0,e277978dc2149421abd2b4b7b69774f7,2266392562,959233027,ba195dd85894d6957bc61edca5ac7026,1425225034,2178715915
1683535,856984b4b943d983e1ecd063561ede2d,14,171e40b51950ff9fd2292d770d9c0b35,1683535,0.0,9de1665e6430fa58785027dbf9ab53e0,d6e65ce07d50bac6c6292115244fd024,2266392562,2504753436,ba195dd85894d6957bc61edca5ac7026,1425568449,2178715915
1831436,8a30ae7b3ec823c36539b1dc59882fd8,15,5ee4633121e24a702eb73c21242a2c03,1831436,0.0,932a5cc56763396c6b205a63868d6316,3cb768c0a171d3c6f7279c71b0cb12df,2266392562,1873721752,77174f814122a113d1d4321b25c6f899,1425651190,2178715915
3162137,09917cf8afed8861a4a87628ebb4d53f,16,c3b19bf41692d65dc4150d6cc24b79cc,3162137,0.0,9de1665e6430fa58785027dbf9ab53e0,5199d3ec3bda4877aabdb6e5cdb3db82,2266392562,807073250,e49dc1e8e576ff35a07e1182f4e98c91,1425664525,2178715915
259124,856984b4b943d983e1ecd063561ede2d,17,e89d919d4b9193b70f48a3c813520b24,259124,0.0,932a5cc56763396c6b205a63868d6316,7ba4d2fc10d03a33549e0c741db9829c,2266392562,795955078,fb7400b0ab4726a59464a94b6842f136,1425829219,2178715915
2314174,856984b4b943d983e1ecd063561ede2d,19,fb45a14c031f6ba63e2c2685beb4007f,2314174,0.0,9de1665e6430fa58785027dbf9ab53e0,a263ce13c5f2068a732f82e9b3ba264d,2266392562,3490651091,ba195dd85894d6957bc61edca5ac7026,1425955793,2178715915
1547200,b75f17aeb9232b63c6999af1cbb1ea34,21,1521fee56cc145f478dac41e8ed0dc03,1547200,0.0,9a6e6cc222b26cc083646e13c32730ab,076058a62e2ec4fe2e0013913bba8c7e,2266392562,82355409,f653f737068af83a709746a60da2a0ab,1426161154,2178715915
1163487,856984b4b943d983e1ecd063561ede2d,22,14685043fc429333bf8dd2d4a93adb33,1163487,0.0,9de1665e6430fa58785027dbf9ab53e0,a51e0a9c25ffcb96290e5b23897cfab3,2266392562,1132350273,ba195dd85894d6957bc61edca5ac7026,1426210055,2178715915
2343239,856984b4b943d983e1ecd063561ede2d,23,cbd9873a5a4f22e62bc2ba103124ea25,2343239,0.0,fce8cc8ce0587de13c3fecbc13537746,87940a8008774cb7366c87d61487cb8b,2266392562,2214269418,e49dc1e8e576ff35a07e1182f4e98c91,1426306329,2178715915
3103982,856984b4b943d983e1ecd063561ede2d,24,5475f0cde1817d321351d2e15f93f0b4,3103982,0.0,9de1665e6430fa58785027dbf9ab53e0,cd9ae53a622604a3a12081c84a7bcc86,2266392562,3471500427,ba195dd85894d6957bc61edca5ac7026,1426426892,2178715915
2334034,183e022fe835e248ec27774c2687e312,25,14a875013305891bf9509a2d42e25ad9,2334034,0.0,932a5cc56763396c6b205a63868d6316,0bc25fd758edc33dfd0c38f7414edbaa,2266392562,4093380899,590a860a7867ed866c1c6954611f10aa,1426461777,2178715915
3508317,0ba261c472ca9d3ea98f1b06825db749,25,fb92407452b8d5f971cfc394690f0ac6,3508317,0.0,49b4350906323cb44f6ce51ab22f2379,7f6db53e78e2841f3aa6111830f0342e,2266392562,4093380899,21032c3a66d86aa1d99127d4b97cb548,1426436953,2178715915

In [111]:
# raw

In [123]:
dr = gezi.read_parquet('../input/train/raw.parquet')

In [124]:
dr

,vid,image_emb,title,story
0,5893106,"-8.26598072052,1.63619112968,17.9674415588,6.9...","199575,199576,40564",
1,10423101,"-3.63512468338,2.38069868088,14.9096345901,1.2...","717361,318",
2,15819492,"0.107854895294,3.20008993149,20.3623485565,-0....","396,1705,31495,3424,77035,85420,28,17970,9300,...",
3,16814925,"-11.0617599487,1.99434304237,14.9591712952,1.2...","8579,18147,73,227",
4,20360674,"6.6802148819,1.83605599403,15.9008598328,3.244...","22485,118989,12418,396611,61891,3029,26353,396...",
...,...,...,...,...
183788,4276491220,"-4.29484510422,6.66334295273,16.4290809631,-4....","3072,34976,173488,1864,6276,492635,58,19175,24...",
183789,4283547666,"-4.81997919083,13.6302375793,14.3650541306,6.9...","266947,7450,58397,42,58167,44,2577,5",
183790,4283640696,"-0.665687978268,11.5875854492,9.86795520782,3....","406009,91149,52611,66378,290,355096",
183791,4290887658,"2.51159644127,2.58366537094,9.91071224213,4.36...","42,128095,44,188981,28,6705,87381,2679,59,3316...",
183792,4294955976,"2.63969039917,5.7608537674,14.7844266891,-2.15...","19588,24,1192,91989,518690,3430,4464,691,55756",

In [125]:
dr[dr.vid==2266392562]

,vid,image_emb,title,story
2257,2266392562,"3.34597158432,8.28211307526,13.9855890274,-2.3...","524,859,26198,7844,443324,42,491609,44,3233,12...",